
@{
    ViewBag.Title1 = "Excluir";
    ViewBag.Title2 = "Motor";
    ViewBag.Title3 = "Excluir";
}

<style>
    .disabled_a {
        color: gray !important;
    }
</style>

<div class="view-listado">
    <div class="card">
        <div class="card-body">
            <div class="panel-heading panel-heading-nav">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#one" aria-controls="one" role="tab" data-toggle="tab">Procesos a Excluir</a>
                    </li>
                    <li role="presentation">
                        <a href="#two" aria-controls="two" role="tab" data-toggle="tab">Servidores Origen a Excluir</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                        <div class="card-search">
                            <fieldset class="fieldset">
                                <legend class="legend">Filtro de búsqueda</legend>
                                <div class="card-search-box">
                                    <form action="javascript:void(0);">
                                        <div class="form-group row">
                                            <div class="col-md-8 col-xs-8 col-sm-8">
                                                <div class="input-with-icon">
                                                    <input id="txtBusProceso" class="form-control input-thick pill input-with-icon-search" type="text" maxlength="50" placeholder="Nombre del Proceso..." onkeypress="return checkCaracteres(event)">
                                                    <span class="icon icon-search input-icon"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-3 col-sm-3">
                                                <div class="text-left" data-toggle="match-height">
                                                    <button id="btnBusProceso" class="btn btn-primary btn-width-custom" onclick="Buscar()">Buscar</button>
                                                    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="AddProceso()">
                                                        <span class="icon icon-plus"></span>
                                                        <span class="count-text">Nuevo</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </fieldset>
                        </div>
                        <div class="row gutter-xs">
                            <div class="col-xs-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                                                    <div class="col-xs-9 col-md-9 text-left">
                                                        <h4 id="tituloResultado" name="tituloResultado"></h4>
                                                    </div>

                                                </div>
                                                <div class="col-md-8" style="margin-bottom: 15px; margin-top: 15px;">
                                                    <table id="tblProceso" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true">
                                                        <thead>
                                                            <tr>
                                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="5%">#</th>
                                                                <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="center">Nombre</th>
                                                                <th data-field="TipoStr" data-halign="center" data-valign="middle" data-align="center">Excluir en</th>
                                                                <th data-field="FechaModificacionStr" data-halign="center" data-valign="middle" data-align="center">Fecha de ultima actualización</th>
                                                                <th data-formatter="opcionesActivo" data-field="FlagActivo" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Activo</th>
                                                                <th data-formatter="opciones" data-field="Opciones" data-halign="center" data-width="10%" data-valign="middle" data-align="center">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="two">
                        <div class="card-search">
                            <fieldset class="fieldset">
                                <legend class="legend">Filtro de búsqueda</legend>
                                <div class="card-search-box">
                                    <form action="javascript:void(0);">
                                        <div class="form-group row">
                                            <div class="col-md-8 col-xs-8 col-sm-8">
                                                <div class="input-with-icon">
                                                    <input id="txtBusServidor" class="form-control input-thick pill input-with-icon-search" type="text" maxlength="50" placeholder="Nombre del Servidor..." onkeypress="return checkCaracteres(event)">
                                                    <span class="icon icon-search input-icon"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-3 col-sm-3">
                                                <div class="text-left" data-toggle="match-height">
                                                    <button id="btnBusServidor" class="btn btn-primary btn-width-custom" onclick="BuscarServidor()">Buscar</button>
                                                    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="AddServidor()">
                                                        <span class="icon icon-plus"></span>
                                                        <span class="count-text">Nuevo</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </fieldset>
                        </div>
                        <div class="row gutter-xs">
                            <div class="col-xs-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                                                    <div class="col-xs-9 col-md-9 text-left">
                                                        <h4 id="tituloResultado2" name="tituloResultado2"></h4>
                                                    </div>

                                                </div>
                                                <div class="col-md-8" style="margin-bottom: 15px; margin-top: 15px;">
                                                    <table id="tblServidor" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true">
                                                        <thead>
                                                            <tr>
                                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="5%">#</th>
                                                                <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="center">Nombre</th>
                                                                <th data-field="FechaModificacionStr" data-halign="center" data-valign="middle" data-align="center">Fecha de ultima actualización</th>
                                                                <th data-formatter="opcionesActivo2" data-field="FlagActivo" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Activo</th>
                                                                <th data-formatter="opciones2" data-field="Opciones" data-halign="center" data-width="10%" data-valign="middle" data-align="center">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal Add or Edit (Proceso)-->
<div id="MdAddOrEditProceso" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormProceso"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditProceso">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombreProceso" class="form-control" type="text" name="txtNombreProceso" maxlength="50" onkeypress="return checkCaracteres(event)">
                        <input type="hidden" name="hdProcesoId" id="hdProcesoId" value="0" />
                        <input type="hidden" name="hdBloquearDefault" id="hdBloquearDefault" value="0" />
                        <label style="font-size: 12px; color: #f7a033">Ingrese el nombre del proceso (ejecutable) sin considerar la extensión.</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Excluir en: </label>
                        <select id="cboTipo" name="cboTipo" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActProceso">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegProceso" class="btn btn-primary" onclick="guardarAddOrEditProceso()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>

<div id="MdAddOrEditServidor" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormServidor"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditServidor">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombreServidor" class="form-control" type="text" name="txtNombreServidor" maxlength="50" onkeypress="return checkCaracteres(event)">
                        <input type="hidden" name="hdServidorId" id="hdServidorId" value="0" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActServidor">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegServidor" class="btn btn-primary" onclick="guardarAddOrEditServidor()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/app/Motor/excluir.js?v=1.0.0"></script>