
@{
    ViewBag.Title1 = "Protocolo";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Protocolo";
}

<style>
    .disabled_a {
        color: gray !important;
    }
</style>

<div class="card-search">
    <fieldset class="fieldset">
        <legend class="legend">Filtro de búsqueda</legend>
        <div class="card-search-box">
            <form action="javascript:void(0);">
                <div class="form-group row">
                    <div class="col-md-8 col-xs-8 col-sm-8">
                        <div class="input-with-icon">
                            <input id="txtBusProtocolo" class="form-control input-thick pill input-with-icon-search" type="text" maxlength="50" placeholder="Nombre del Protocolo..." onkeypress="return checkCaracteres(event)">
                            <span class="icon icon-search input-icon"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <div class="text-left" data-toggle="match-height">
                            <button id="btnBusProtocolo" class="btn btn-primary btn-width-custom" onclick="Buscar()">Buscar</button>
                            <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="AddProtocolo()">
                                <span class="icon icon-plus"></span>
                                <span class="count-text">Nuevo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </fieldset>
</div>

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="row">
                        <div class="panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                            <div class="col-xs-9 col-md-9 text-left">
                                <h4 id="tituloResultado" name="tituloResultado"></h4>
                            </div>

                        </div>
                        <div class="col-md-8" style="margin-bottom: 15px; margin-top: 15px;">
                            <table id="tblProtocolo" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="5%">#</th>
                                        <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="center">Nombre</th>
                                        <th data-field="FechaModificacionStr" data-halign="center" data-valign="middle" data-align="center">Fecha de ultima actualización</th>
                                        <th data-formatter="opcionesActivo" data-field="FlagActivo" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Activo</th>
                                        <th data-formatter="opciones" data-field="Opciones" data-halign="center" data-width="10%" data-valign="middle" data-align="center">Opciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Add or Edit (Protocolo)-->
<div id="MdAddOrEditProtocolo" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormProtocolo"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditProtocolo">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombreProtocolo" class="form-control" type="text" name="txtNombreProtocolo" maxlength="50" onkeypress="return checkCaracteres(event)">
                        <input type="hidden" name="hdProtocoloId" id="hdProtocoloId" value="0" />
                        <input type="hidden" name="hdBloquearDefault" id="hdBloquearDefault" value="0" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActProtocolo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegProtocolo" class="btn btn-primary" onclick="guardarAddOrEditProtocolo()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/app/protocolo.js?v=1.0.0"></script>