@{
    ViewBag.Title1 = "Relación de aplicaciones importadas";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Aplicaciones";
}
<div class="card">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <div class="row gutter-xs">
                        <div class="col-xs-12 col-md-12 appContainer">
                            <div class="text-left" data-toggle="match-height">
                                <h5>Aplicación (código): </h5>
                                <input type="text" value="" maxlength="100" autocomplete="off" id="txtAplicacion" name="txtAplicacion" class="form-control" />
                                <input type="hidden" value="" id="hAplicacion" name="hAplicacion" />
                            </div>
                        </div>
                    </div>
                    <div class="row gutter-xs">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="RefrescarListado()">
                                    <span class="count-text">Buscar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
    <a id="btnMassiveUpdate" class="btn btn-primary" href="javascript: void(0)">
        <span class="icon icon-refresh"></span>
        <span class="count-text">Asignación masiva</span>
    </a>
</div>

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <table id="tblRegistro" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true" data-unique-id="Id">
                    <caption class="caption">
                        Registros de Aplicaciones
                    </caption>
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="3%">#</th>
                            <th data-field="CodigoAPTStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="5%" data-sort-name="CodigoAPT">Código</th>
                            <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="15%">Nombre</th>
                            <th data-field="CriticidadToString" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="15%">Criticidad</th>
                            <th data-field="GestionadoPor" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="GestionadoPor" data-width="15%">Gestionado por</th>
                            <th data-field="UnidadFondeo" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="UnidadFondeo" data-width="10%">Unidad de Fondeo</th>
                            <th data-field="EstadoAplicacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="UsuarioCreacion" data-width="10%">Estado</th>
                            <th data-field="FechaRegistroProcedenciaStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="FechaCreacion" data-width="10%">Fecha de registro</th>
                            <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="UsuarioCreacion" data-width="10%">Registrado por</th>
                            <th data-formatter="opcionesFormatter" data-field="CodigoAPT" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" name="hdFiltro" id="hdFiltro" value="" />
</div>
<!--Modal Editar Responsables (Aplicacion)-->
<div id="MdAddOrEditModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleForm"></h4>
            </div>
            <div class="modal-body">
                <form id="formRegistro">
                    <input type="hidden" id="hdId" name="hdId" value="0" />
                    <div class="form-group">
                        <label class="control-label">
                            Tipo:
                        </label>
                        <select id="ddlTipo" name="ddlTipo" class="form-control inputMatricula"></select>
                    </div>
                    <div class="form-group respContainerPrincipal">
                        <label class="control-label">
                            Nombre del responsable:
                        </label>
                        <div class="form-group">
                            <input id="txtMatricula" name="txtMatricula" class="form-control inputMatricula" type="text">
                            <input id="hdMatriculaResponsablePrincipal" name="hdMatriculaResponsablePrincipal" type="hidden" value="">
                            <input id="hdCorreoResponsablePrincipal" name="hdCorreoResponsablePrincipal" type="hidden" value="">
                            @*<span class="input-group-btn">
                                    <button id="txtAddResponsable" class="btn btn-primary" onclick="addItem()" type="button">Agregar Responsable</button>
                                </span>*@
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <button id="btnGuardarRegistroFirst" type="button" class="btn btn-primary" onclick="GuardarRegistro()" data-loading-text="Procesando...">Guardar</button>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <p id="msgApExp" class="hidden">
                            Se agregó el responsable a la lista de usuarios autorizados de la aplicación, si desea mantener la configuración presione el botón Guardar
                        </p>
                        <table id="tblApExp" class="table" data-mobile-responsive="true" data-unique-id="AplicacionExpertoId">
                            <thead>
                                <tr>
                                    <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                                    <th data-field="Matricula" data-halign="center" data-valign="middle" data-align="left">Matricula</th>
                                    <th data-field="Nombres" data-halign="center" data-valign="middle" data-align="left">Nombres</th>
                                    <th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="left">Estado</th>
                                    <th data-field="TipoExpertoToString" data-halign="center" data-valign="middle" data-align="left">Tipo</th>
                                    <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="left">Creado por</th>
                                    <th data-field="FechaCreacionStr" data-halign="center" data-valign="middle" data-align="left">Fecha creación</th>
                                    <th data-formatter="opcionesFormatterApExp" data-field="Id" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                                </tr>
                            </thead>
                        </table>
                        <input type="text" id="msjValid" name="msjValid" class="form-control guardarExperto" style="display:none;" />
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <button id="btnGuardarRegistro" type="button" class="btn btn-primary" onclick="GuardarRegistro()" data-loading-text="Procesando...">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Responsables (Aplicacion)-->
<!--Modal Editar Responsables (Asignacion masiva)-->
<div id="mdResponsables" tabindex="-1" role="dialog" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleForm">Configurar responsables</h4>
            </div>
            <div class="modal-body">
                <form id="formResponsables">
                    <input type="hidden" id="hdId" name="hdId" value="0" />
                    <div class="form-group">
                        <label class="control-label">Tipo:</label>
                        <select id="ddlTipoResponsable" name="ddlTipoResponsable" class="form-control input-resp"></select>
                    </div>
                    <div class="form-group respContainer">
                        <label class="control-label">
                            Nombre del responsable:
                        </label>
                        <input id="txtMatriculaResponsable" name="txtMatriculaResponsable" class="form-control input-resp" type="text">
                        <input id="hdMatriculaResponsable" name="hdMatriculaResponsable" type="hidden" value="">
                        <input id="hdCorreoResponsable" name="hdCorreoResponsable" type="hidden" value="">
                    </div>
                    <br />
                    <div class="form-group">
                        <table id="tblAplicacionExpertos"
                               class="table"
                               data-mobile-responsive="true"
                               data-toggle="table"
                               data-select-item-name="selectItemName"
                               data-unique-id="Id"
                               data-pagination="true"
                               data-page-number="1"
                               data-page-size="10"
                               data-checkbox-header="false"
                               data-click-to-select="true">
                            <thead>
                                <tr>
                                    <th data-formatter="cbFormatter" data-field="ItemSelected" data-halign="center" data-valign="middle" data-align="center"></th>
                                    <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                                    <th data-field="CodigoAPT" data-halign="center" data-valign="middle" data-align="left">Código APT</th>
                                    <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left">Aplicación</th>
                                    <th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="left">Estado</th>
                                    <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="left">Creado por</th>
                                    <th data-field="FechaCreacionStr" data-halign="center" data-valign="middle" data-align="left">Fecha creación</th>
                                </tr>
                            </thead>
                        </table>
                        <input type="text" id="msjValid" name="msjValid" class="form-control input-tbl" style="display:none;" />
                    </div>
                    @*<div class="form-inline">
                            <div class="form-group">
                                <button id="btnSaveResponsables" type="button" class="btn btn-primary" data-loading-text="Procesando...">Guardar</button>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <button id="btnSaveResponsables" type="button" class="btn btn-primary" data-loading-text="Procesando...">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Responsables (Asignacion masiva)-->

<script src="~/app/aplicacionConsultor.js?v=1.4.1"></script>