
@{
    ViewBag.Title1 = "Vista por relaciones";
    ViewBag.Title2 = "Equipos y aplicaciones";
    ViewBag.Title3 = "Vista por relaciones";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<style>
    .bloq-element {
        pointer-events: none;
        opacity: 0.3;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>
<div class="view-listado">
    <div class="card">
        <div class="card-body">
            <div class="card-search">
                <fieldset class="fieldset">
                    <legend class="legend">Filtro de búsqueda</legend>
                    <div class="card-search-box">
                        <div class="row gutter-xs">
                            <div class="col-xs-12 col-md-3 col-sm-6 containerFiltroAplicacion">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Aplicación (código): </h5>
                                    <input type="text" name="txtAplicacion" id="txtAplicacion" class="form-control" value="" maxlength="80" />
                                    <input type="hidden" value="" id="hAplicacion" name="hAplicacion" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-6  containerFiltroJefe">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Jefe de equipo/Experto aplicación User IT: </h5>
                                    <input type="text" name="txtJefe" id="txtJefe" class="form-control" value="" maxlength="100" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-6 containerFiltroGestionadoPor">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Gestionado por: </h5>
                                    <input type="text" name="txtGestionado" id="txtGestionado" class="form-control" value="" maxlength="80" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-6 containerFiltro">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Equipo / Activo TI: </h5>
                                    <input type="text" name="txtEquipo" id="txtEquipo" class="form-control" value="" maxlength="80" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-6">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Ambiente: </h5>
                                    <select id="cbAmbiente" name="cbAmbiente" class="form-control"></select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 col-sm-6">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Tratamiento PCI DSS: </h5>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </h5>
                                    <select id="ddlPCI" name="ddlPCI" class="form-control"></select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 col-sm-6">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Relación con la aplicación: </h5>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </h5>
                                    <select id="cbRelacionAplicacion" name="cbRelacionAplicacion" class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 col-sm-6">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Tipo de Relación: </h5>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          </h5>
                                    <select id="cbTipoRelacion" name="cbTipoRelacion" class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 col-sm-6">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Estado de Relación: </h5>
                                    <select id="cbEstadoFiltro" name="cbEstadoFiltro" class="form-control"></select>
                                </div>
                            </div>

                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
        <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="Buscar()">
            <span class="count-text">Buscar</span>
        </a>
        <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="ExportarInfo()">
            <span class="icon icon-external-link"></span>
            <span class="count-text">Exportar</span>
        </a>
    </div>
    <div class="row gutter-xs">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <strong>Relación de aplicaciones y servidores relacionados</strong>
                </div>
                <div class="card-body">
                    <table id="tblRegistro" class="table table-striped table-nowrap" data-mobile-responsive="true" data-unique-id="Id" style="font-size:11px !important;">
                        <thead>
                            <tr>
                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                                <th data-formatter="linkFormatterName" data-field="CodigoApt" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="CodigoApt">Código <br />aplicación</th>
                                <th data-formatter="linkFormatterAplicacion" data-field="Aplicacion" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="Aplicacion">Aplicación</th>
                                <th data-field="DetalleCriticidad" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="DetalleCriticidad">Criticidad</th>
                                <th data-field="TipoActivoTI" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="TipoActivoTI">Tipo Activo</th>
                                <th data-field="JefeEquipo" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="JefeEquipo">Jefe de equipo</th>
                                <th data-field="GestionadoPor" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="GestionadoPor">Gestionado por</th>
                                <th data-formatter="linkFormatterEquipo" data-field="Equipo" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="Equipo">Equipo / Activo TI</th>
                                <th data-field="DetalleAmbiente" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="DetalleAmbiente">Ambiente de <br />la relación</th>
                                <th data-field="EstadoRelacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="EstadoId">Estado de<br /> la relación</th>
                                <th data-field="RelacionAplicacionDesc" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="RelacionAplicacion">Relación con<br /> la aplicación</th>
                                <th data-field="TipoRelacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="TipoRelacion">Tipo de Relación</th>
                                <th data-field="ListaPCI" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="ListaPCI" data-width="200">PCI DSS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Editar Responsables (Aplicacion)-->
<div id="MdAddOrEditModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleForm"></h4>
            </div>
            <div class="modal-body">
                <form id="formRegistro">
                    <div class="form-group">
                        <table id="tblApExp" class="table" data-mobile-responsive="true" data-unique-id="Id">
                            <thead>
                                <tr>
                                    <th data-field="tblApExp" data-formatter="rowNumFormatterServerAlt" data-valign="middle" data-align="center" data-width="30">#</th>
                                    <th data-field="Matricula" data-halign="center" data-valign="middle" data-align="left">Matricula</th>
                                    <th data-field="Nombres" data-halign="center" data-valign="middle" data-align="left">Nombres</th>
                                    <th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="left">Estado</th>
                                    <th data-field="TipoExpertoToString" data-halign="center" data-valign="middle" data-align="left">Tipo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Editar Responsables (Aplicacion)-->
<script src="~/app/vistarelaciones.js?v1.3.3"></script>