
@{
    ViewBag.Title1 = "Relacionamiento entre componentes";
    ViewBag.Title2 = "Relaciones y formatos";
    ViewBag.Title3 = "Relacionamiento entre componentes";
}
<div class="card">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <div class="row gutter-xs">
                        <div class="col-xs-12 col-md-12 appContainer">
                            <div class="text-left" data-toggle="match-height">
                                <h5>Aplicación (código): </h5>
                                <input type="text" value="" maxlength="100" autocomplete="off" id="txtAplicacion" name="txtAplicacion" class="form-control" />
                                <input type="hidden" value="" id="hAplicacion" name="hAplicacion" />
                            </div>
                        </div>
                    </div>
                    <div class="row gutter-xs">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="RefrescarListado()">
                                    <span class="count-text">Buscar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<br />
<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>Registros de Aplicaciones</strong>
            </div>
            <div class="card-body">
                <table id="tblRegistro" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true" data-unique-id="Id">
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="3%">#</th>
                            <th data-field="CodigoAPTStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="5%" data-sort-name="CodigoAPT">Código</th>
                            <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="15%">Nombre</th>
                            <th data-formatter="opcionesFormatter" data-field="CodigoAPT" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" name="hdFiltro" id="hdFiltro" value="" />
</div>
<!--Modal Editar Componentes (Aplicacion)-->
<div id="MdAddOrEditModal_Componentes" tabindex="-1" role="dialog" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleForm_Componentes"></h4>
            </div>
            <div class="modal-body">
                <form id="formRegistro_Componentes">
                    <input type="hidden" id="hdId_Componente" name="hdId_Componente" value="0" />
                    <div class="col-xs-12 col-md-3 col-sm-6 containerFiltro">
                        <div class="text-left" data-toggle="match-height">
                            <h5>Componente: </h5>
                            <input type="text" name="txtEquipo" id="txtEquipo" class="form-control" value="" maxlength="80" />
                            <input type="hidden" value="0" id="hEquipoId" name="hEquipoId" />
                            <input type="hidden" value="0" id="hTipoEquipoId" name="hTipoEquipoId" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-6 containerFiltro_EquipoRelacionado">
                        <div class="text-left" data-toggle="match-height">
                            <h5>Conecta con: </h5>
                            <input type="text" name="txtEquipo_Relacionado" id="txtEquipo_Relacionado" class="form-control" value="" maxlength="80" />
                            <input type="hidden" value="0" id="hEquipoId_Relacionado" name="hEquipoId_Relacionado" />
                            <input type="hidden" value="0" id="hTipoEquipoId_Relacion" name="hTipoEquipoId_Relacion" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-6" style="padding-top: 3%;">
                        <div class="input-group">
                            <button id="btnAddRelacionComponente" class="btn btn-primary" onclick="addItem_Componente()" type="button">Agregar conexión</button>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 9%;">
                        <table id="tblApp_Componentes" class="table" data-mobile-responsive="true" data-unique-id="RelacionReglasPorAppId">
                            <thead>
                                <tr>
                                    <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                                    <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left">Componente</th>
                                    <th data-field="Nombre_Relacion" data-halign="center" data-valign="middle" data-align="left">Conecta con</th>
                                    <th data-field="Estado" data-halign="center" data-valign="middle" data-align="left">Estado</th>
                                    <th data-field="CreadoPor" data-halign="center" data-valign="middle" data-align="left">Creado por</th>
                                    <th data-field="FechaCreacionStr" data-halign="center" data-valign="middle" data-align="left">Fecha creación</th>
                                    <th data-formatter="opcionesFormatterApp_Componentes" data-field="RelacionReglasPorAppId" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                                </tr>
                            </thead>
                        </table>
                        <input type="text" id="msjValid" name="msjValid" class="form-control guardarExperto" style="display:none;" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/app/Relaciones/relacionamientoComponentesConsultor.js?v=1.0.0"></script>