<div class="modal fade" id="mdDejarMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envíanos un mensaje si tienes alguna sugerencia, consulta o necesidad de soporte sobre la plataforma. Nos pondremos en contacto contigo lo más pronto posible.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <form id="formDejarComentario">
                    <div class="form-group">
                        <label class="control-label">Usuario: </label>
                        <h5 id="hMatricula" style="display:inline-block;"></h5> - <h5 id="hNombre" style="display:inline-block;"></h5>
                    </div>
                    <div class="form-group">
                        <label class="control-label">¿Qué tipo de mensaje nos deseas enviar?: </label>
                        <select id="cbTipoM" name="cbTipoM" class="form-control">
                            <option value="-1">-- Seleccione --</option>
                            <option value="1">Sugerencia</option>
                            <option value="2">Consulta</option>
                            <option value="3">Soporte</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dinos el asunto: </label>
                        <input id="txtAsuntoM" name="txtAsuntoM" class="form-control" type="text" maxlength="100">
                        <input type="hidden" name="hdMensajeId" id="hdMensajeId" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Detalla tu mensaje: </label>
                        <textarea id="txtDescripcionM" name="txtDescripcionM" class="form-control" rows="5" maxlength="300"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegistrarMensaje" class="btn btn-primary" onclick="registrarMensaje()" type="button" data-loading-text="Procesando...">Enviar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/app/_dejarMensaje.js"></script>