<div class="card-body">
    <table id="tbl-tecAprob" data-toggle="table" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="Id" data-mobile-responsive="true">
        <caption class="caption text-left">
            Registros de Tecnologías
        </caption>
        <thead>
            <tr>
                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="20" data-width-unit="px">#</th>
                <th data-formatter="formatOpcSTD" data-field="OpcGeneral" data-halign="center" data-valign="middle" data-align="center" data-width="100" class="opcTecnologia">Acciones</th>
                <th data-formatter="formatAccesoDirecto" data-field="OpcAccesoDirecto" data-halign="center" data-valign="middle" data-align="center" data-width="100" class="accesoDirecto">Acceso directo</th>
                <th data-field="Dominio" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" class="nombreDom">Dominio</th>
                <th data-field="Subdominio" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" class="nombreDom">Subdominio</th>
                <th data-formatter="formatNombre" data-field="ClaveTecnologia" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="900" class="nombreTec">Nombre</th>
                <th data-field="TipoTecnologiaStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" data-sort-name="Tipo">Tipo<br />Tecnología</th>
                <th data-field="EstadoTecnologiaStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="Estado" data-width="200">Aprobación</th>
                <th data-field="EstadTecnologia" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" data-sort-name="EstadoId">Estado</th>
                <th data-field="FechaCreacionFormato" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="FechaCreacion" data-width="200">Fecha de<br />Registro</th>
                <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200">Creado por </th>
                <th data-field="FechaAprobacionStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" data-sort-name="FechaAprobacion">Fecha de<br /> aprobación</th>
                <th data-field="FechaFinSoporteSite" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200" data-sort-name="FechaFinSoporte">Fecha fin<br /> soporte</th>
                <th data-field="UsuarioAprobacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="200">Aprobado por </th>
            </tr>
        </thead>
    </table>
    <input type="hidden" name="hdEditFrom" id="hdEditFrom" value="" />
</div>