
@{
	Layout = "~/Views/Shared/_EmptyLayout.cshtml";
	ViewBag.Title1 = "Bandeja de Solicitudes de creación";
	ViewBag.Title2 = "Gestión de aplicaciones";
	ViewBag.Title3 = "Bandeja de Solicitudes de creación";

	string nombreApp = (string)ViewBag.Nombre_App;
	int paginaActual = (int)ViewBag.PaginaActual;
	int paginaTamanio = (int)ViewBag.PaginaTamanio;
}

<style>
	.width-des {
		min-width: 300px;
	}

	.bloq-element {
		pointer-events: none;
		opacity: 0.7;
	}

	/* Chat containers */
	.container {
		border: 2px solid #dedede;
		background-color: #f1f1f1;
		border-radius: 5px;
		padding: 10px;
		margin: 10px 0;
	}

	/* Darker chat container */
	.darker {
		border-color: #f7a033;
		background-color: #ddd;
	}

	/* Clear floats */
	.container::after {
		content: "";
		clear: both;
		display: table;
	}

	/* Style images */
	.container img {
		float: left;
		max-width: 60px;
		width: 100%;
		margin-right: 20px;
		border-radius: 50%;
	}

		/* Style the right image */
		.container img.right {
			float: right;
			margin-left: 20px;
			margin-right: 0;
		}

	/* Style time text */
	.time-right {
		float: right;
		color: #aaa;
	}

	/* Style time text */
	.time-left {
		float: left;
		color: #999;
	}

	.user-name {
		font-weight: bold;
		text-transform: uppercase;
	}
</style>

<div class="card">
	<div class="card-body">
		<div class="card-search">
			<fieldset class="fieldset">
				<legend class="legend">Filtro de búsqueda</legend>
				<div class="card-search-box">
					<form id="formFiltros">
						<div class="row gutter-xs">
							<div class="col-xs-4 col-md-4">
								<div class="text-left ui-widget containerAplicacion" data-toggle="match-height">
									<h5>Aplicación (código) </h5>
									<input type="text" id="txtAplicacionFiltro" name="txtAplicacionFiltro" value="" maxlength="100" autocomplete="on" class="form-control ui-autocomplete-input" />
									<input type="hidden" name="hdAplicacionFiltroId" id="hdAplicacionFiltroId" />
								</div>
							</div>
							<div class="col-xs-4 col-md-4">
								<div class="text-left ui-widget" data-toggle="match-height">
									<h5>Estado de la aplicación</h5>
									<select id="cbFilEstado" name="cbFilEstado" class="form-control">
										<option value="-1" selected="selected">Todos</option>
										<option value="1">En Desarrollo</option>
										<option value="2">Vigente</option>
										<option value="3">No Vigente</option>
										@*<option value="4">Eliminada</option>*@
									</select>
								</div>
							</div>
							<div class="col-xs-4 col-md-4 text-right">
								<h5>&nbsp;</h5>
								<button id="btnBuscar" type="button" class="btn btn-primary btn-width-custom" onclick="RefrescarListado()">Buscar</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<div class="panel panel-body text-right" style="background-color: transparent;">
	<a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="ExportarInfo()">
		<span class="icon icon-external-link"></span>
		<span class="count-text">Exportar</span>
	</a>
</div>
@*<hr />*@
<div class="row gutter-xs">
	<div class="col-xs-12">
		<div class="card">
			<div class="card-body">
				<table id="tblRegistro" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true">
					<caption class="caption text-left">
						<span>Aplicaciones registradas</span>
					</caption>
					<thead>
						<tr>
							<th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
							@*<th data-formatter="opcionesFormatter" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Acciones</th>*@
							<th data-formatter="situacionFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Situación de registro</th>
							<th data-field="commentDetail" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado revisión del portafolio</th>
							<th data-field="applicationId" data-formatter="linkFormatter" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="applicationId">Código</th>
							<th data-field="name" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="name">Nombre</th>
							<th data-field="managedBy" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="managedBy">Gestionado por</th>
							<th data-field="statusDetail" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="status">Estado de la aplicación</th>
							<th data-field="solicitante" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="status">Solicitante</th>
							<th data-field="registerDate" data-formatter="dateFormat2" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="registerDate">Fecha de registro</th>
							<th data-field="approvedDateStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="approvedDateStr">Fecha de aprobacion <br />Portafolio aplicaciones</th>
                            <th data-field="refusedDateStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="refusedDateStr">Fecha de rechazo <br />Portafolio aplicaciones</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="hdAplicacionId" id="hdAplicacionId" value="0" />

<input type="hidden" name="hdPreviousState" id="hdPreviousState" />
<!-- Modal no vigente-->
<div id="modalNoVigente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalNoVigente" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="formNoVigente">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="title-md">Cambiar el estado de la aplicación a <b>No Vigente</b></h5>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<p>Al establecer el estado de tu aplicación a <strong>No Vigente</strong>, se notificará a todos los responsables e involucrados informando de este cambio.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
								<label class="control-label">Comentarios asociados a este cambio de estado: </label>
								<textarea id="txtDescripcion" name="txtDescripcion" rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button id="btnRegistrarNoVigente" class="btn btn-primary" type="button" data-loading-text="Procesando...">Cambiar estado</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal Revertir Estado-->
<div id="modalVigente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalVigente" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="formVigente">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="title-md">Revertir el estado de la aplicación</h5>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<p>Al reestablecer el estado de tu aplicación, se notificará a todos los responsables e involucrados informando de este cambio.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
								<label class="control-label">Comentarios asociados a este cambio de estado: </label>
								<textarea id="txtDescripcion2" name="txtDescripcion2" rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button id="btnRegistrarVigente" class="btn btn-primary" type="button" data-loading-text="Procesando...">Cambiar estado</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal eliminado-->
<div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEliminar" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="formEliminar">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="title-md">Solicita la eliminación de esta aplicación</h5>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<p>Para procesar tu solicitud, todos los datos son necesarios</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Estado de relaciones en CVT: </label>
								<div class="input-group">
									<a class="btn btn-success btn-circle"></a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Conformidad GST: </label>
								<div class="input-group">
									<input id="txtNomArchivoConformidad" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
									<span class="input-group-btn">
										<label class="btn btn-primary file-upload-btn">
											<input id="flConformidad" class="file-upload-input inputConformidad" type="file" name="flConformidad">
											<span class="glyphicon glyphicon-folder-open"></span>
										</label>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Ticket de eliminación: </label>
								<div class="input-group">
									<input id="txtNomTicket" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
									<span class="input-group-btn">
										<label class="btn btn-primary file-upload-btn">
											<input id="flTicket" class="file-upload-input inputTicket" type="file" name="flTicket">
											<span class="glyphicon glyphicon-folder-open"></span>
										</label>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Ratificación: </label>
								<div class="input-group">
									<input id="txtNomRatificacion" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
									<span class="input-group-btn">
										<label class="btn btn-primary file-upload-btn">
											<input id="flRatificacion" class="file-upload-input inputRatificacion" type="file" name="flRatificacion">
											<span class="glyphicon glyphicon-folder-open"></span>
										</label>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Comentarios asociados a este cambio de estado: </label>
								<textarea id="txtDescripcionEliminar" name="txtDescripcion" rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button id="btnEliminar" class="btn btn-primary" type="button" data-loading-text="Procesando...">Enviar solicitud</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="modalRechazarAplicacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalRechazarAplicacion" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="title-md">Información detallada de los responsables de aprobación de la aplicación: <span id="spanApp"></span></h5>
				</div>
				<div class="modal-body">
					<div class="row gutter-xs">
						<div class="col-xs-12">
							<div class="card">
								<div class="card-body">
									<table id="tblFlujos" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true" style="font-size: 11px !important;">
										<caption class="caption text-left">
											<span>Solicitudes registradas para la aplicación</span>
										</caption>
										<thead>
											<tr>
												<th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
												<th data-formatter="estadoFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado de atención</th>
												<th data-field="nameDetail" data-halign="center" data-valign="middle" data-align="center">Responsable</th>
												<th data-field="typeRegisterDetail" data-halign="center" data-valign="middle" data-align="center">Rol asignado</th>
												<th data-field="isApprovedDetail" data-halign="center" data-valign="middle" data-align="center">Situación de <br /> la solicitud</th>
												<th data-field="dateApprovedStr" data-halign="center" data-valign="middle" data-align="center">Fecha de <br /> atención</th>
												<th data-field="dateRejectedStr" data-halign="center" data-valign="middle" data-align="center">Fecha de <br /> rechazo</th>
												<th data-field="comments" data-halign="center" data-valign="middle" data-align="center">Comentarios</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const REGISTRO_PARCIAL = 1;
	const REGISTRO_COMPLETO = 2;

	const ESTADO_ENDESARROLLO = 1;
	const ESTADO_VIGENTE = 2;
	const ESTADO_NOVIGENTE = 3;
	const ESTADO_ELIMINADA = 4;

	var nombre_app = '@nombreApp';
    var PAGINA_ACTUAL = @paginaActual;
    var PAGINA_TAMANIO = @paginaTamanio;

</script>
<script src="~/app/RegistroPortafolio/bandeja.js?v=2.0.0"></script>