@using BCP.CVT.WebPortalClient.Models
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title1 = "Flujo de actualización - Gobierno User IT";
    ViewBag.Title2 = "Solicitudes asignadas";
    ViewBag.Title3 = "Flujo de actualización - Gobierno User IT";

    int AplicacionId = (int)ViewBag.AppId;
    int FlujoId = (int)ViewBag.FlowId;
}

@{
    Usuario_Storage eUsuario = (Usuario_Storage)Session["Usuario"];
    string eusername = eUsuario == null ? "" : eUsuario.UsuarioBCP_Dto.Name;
}


<style>
    a.tip {
        border-bottom: 1px dashed;
        text-decoration: none
    }

        a.tip:hover {
            cursor: help;
            position: relative
        }

        a.tip span {
            display: none
        }

        a.tip:hover span {
            border: #c0c0c0 1px dotted;
            padding: 5px 20px 5px 5px;
            display: block;
            z-index: 100;
            font-family: Roboto,sans-serif;
            /*background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;*/
            background: #F2F4F8;
            left: 0px;
            margin: 10px;
            width: 250px;
            position: absolute;
            top: 10px;
            text-decoration: none;
            color: #002A8D;
            text-align: left;
        }

    .stepwizard-step p {
        margin-top: 0px;
        color: #666;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
    }

    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity: 1 !important;
        color: #bbb;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        font-family: Roboto,sans-serif;
        font-size: 18px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <span style="font-size:14px;">Completar los datos que te corresponden como custodio. </span>
    </div>
    <div class="col-md-2 text-right">
        <a id="btnAgregar" class="btn btn-primary btn-width-custom" href="@Url.Content("~/GestionPortafolioAplicaciones/CatalogoAplicacionesUserIT")">
            <span class="icon icon-arrow-left"></span>
            <span class="count-text">Volver</span>
        </a>
    </div>
</div>
<hr>
<div class="row gutter-xs" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-search">
                    <fieldset class="fieldset">
                        <legend class="legend">Datos de la custodia</legend>
                        <div class="card-search-box">
                            <form id="formAddOrEditApp">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    Código de la aplicación
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" maxlength="4" id="txtCodigoAPT" name="txtCodigoAPT" disabled="disabled" />
                                                    <input type="hidden" id="hdAplicacionId" name="hdAplicacionId" value="" />
                                                    <input type="hidden" id="hdFlujoId" name="hdFlujoId" value="" />
                                                </div>
                                                <div class="col-md-2">
                                                    Nombre de la aplicación
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" maxlength="180" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    Descripción
                                                </div>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" rows="7" id="txtDescripcion" name="txtDescripcion" disabled="disabled"></textarea>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <strong>Datos de la solicitud de modificación</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <strong>Gestionado por actual de la aplicación</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlGestionadoActual" name="ddlGestionadoActual" class="form-control" disabled>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <strong>Gestionado por solicitado para la aplicación</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlGestionadoNuevo" name="ddlGestionadoNuevo" class="form-control" disabled>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <strong>Equipo actual de la aplicación</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlEquipoActual" name="ddlEquipoActual" class="form-control" disabled>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <strong>Equipo solicitado para la aplicación</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="ddlEquipoNuevo" name="ddlEquipoNuevo" class="form-control" disabled>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 text-right">
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button id="btnRechazarApp" name="btnRechazarApp" class="btn btn-warning" type="button" data-loading-text="Procesando...">Rechazar</button>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button id="btnRegistrarApp" name="btnRegistrarApp" class="btn btn-success" type="button" data-loading-text="Procesando...">Confirmar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalRechazar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalRechazar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="formRechazar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="title-md">Ingrese el comentario indicando el rechazo de la solicitud</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios asociados a este cambio de estado: </label>
                                <textarea id="txtDescripcionRechazo" name="txtDescripcionRechazo" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnProcesarRechazo" class="btn btn-primary" type="button" data-loading-text="Procesando...">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    const APLICACION_ID = @AplicacionId;
    const FLUJO_ID = @FlujoId;

    const ACCION_REGISTRAR = 1;
    const ACCION_RECHAZAR = 2;
    const ACCION_TRANSFERIR = 3;    

    var ID_USERIT = 0;
    var FLUJO_REGISTRO = 1;
    const URL_BANDEJA = "@Url.Content("~/BandejaPortafolioAplicaciones/Solicitudes")";
</script>
<script src="~/app/BandejaPortafolio/gobiernoUserITEdit.js?v=2.0.0"></script>