
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body style="background-color: #222; overflow: hidden;">
    <style>
        #notfound {
            position: relative;
            height: 100vh;
            background-color: #222;
        }

            #notfound .notfound {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

        .notfound .notfound-403 {
            height: 158px;
            line-height: 153px;
        }

            .notfound .notfound-403 h1 {
                font-family: 'Josefin Sans', sans-serif;
                color: #222;
                font-size: 220px;
                letter-spacing: 10px;
                margin: 0px;
                font-weight: 700;
                text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
            }

                .notfound .notfound-403 h1 > span {
                    text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
                }

        .notfound p {
            font-family: 'Josefin Sans', sans-serif;
            color: #c9c9c9;
            font-size: 16px;
            font-weight: 400;
            margin: 30px 0;
        }

        .notfound a {
            font-family: sans-serif;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            background: transparent;
            color: #c9c9c9;
            border: 2px solid #c9c9c9;
            display: inline-block;
            padding: 10px 25px;
            font-weight: 700;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }
    </style>
    <div id="notfound">
        <div class="notfound">

            <img src="~/images/Forbidden-512.png" style=" width: 30%;" />
            <p>No es posible registrar relaciones/eliminar aplicaciones en este periodo de tiempo debido a los procesos de sincronización de la plataforma</p>
            <a href="/">Ir al inicio</a>
        </div>
    </div>
</body>
</html>
