@using BCP.CVT.Cross;
@{
    ViewBag.Title1 = "Gestión de productos";
    ViewBag.Title2 = "Producto";
    ViewBag.Title3 = "Listado";
}

<div class="card">
    <div class="card-body">
        <div class="card-search">


            <div class="panel-group" id="accordion-filtro" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" style="overflow: inherit;">
                    <a class="panel-heading" role="tab" id="heading-filtro" data-toggle="collapse" data-parent="#accordion-filtro" href="#collapse-filtro" aria-expanded="true" aria-controls="collapse-filtro" style="display: flex">
                        <h4 class="panel-title">
                            @*    <a role="button" data-toggle="collapse" data-parent="#accordion-filtro" href="#collapse-filtro" aria-expanded="true" aria-controls="collapse-filtro">*@
                            Filtro de búsqueda
                            @*  </a>*@
                        </h4>
                    </a>
                    <div id="collapse-filtro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-filtro">
                        <div class="panel-body">
                            <div class="card-search-box">
                                <form action="javascript:void(0);">
                                    <div class="row" style="margin-bottom: 0;">
                                        <div class="col-sm-10">
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col-md-6 col-xs-6 col-sm-6 searchProductoContainer">
                                                    <label>Producto: </label>
                                                    <div class="input-with-icon">
                                                        <input id="txtBusNombreProducto" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="Producto..." onkeydown="ValidaEnters(event)">
                                                        <span class="icon icon-search input-icon"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6 col-sm-6">
                                                    <label>Dominio: </label>
                                                    <div class="input-with-icon">
                                                        <select id="cbBusDominioProducto" class="form-control input-thick pill input-with-icon-search">
                                                            <option value="-1">Todos</option>
                                                        </select>
                                                        <span class="icon icon-search input-icon"></span>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6 col-xs-6 col-sm-6">
                                                    <label>Tipo de Producto: </label>
                                                    <div class="input-with-icon">
                                                        <select id="cbBusTipoProducto" class="form-control input-thick pill input-with-icon-search">
                                                            <option value="-1">Todos</option>
                                                        </select>
                                                        <span class="icon icon-search input-icon"></span>
                                                    </div>
                                                </div>*@
                                                @*<div class="col-md-6 col-xs-6 col-sm-6">
                                                    <label>Estado: </label>
                                                    <div class="input-with-icon">
                                                        <select id="cbBusEstadoObsolescenciaProducto" class="form-control input-thick pill input-with-icon-search">
                                                            <option value="-1">Todos</option>
                                                        </select>
                                                        <span class="icon icon-search input-icon"></span>
                                                    </div>
                                                </div>*@
                                            </div>
                                            <div class="row" style="margin-bottom: 0;">

                                                <div class="col-md-6 col-xs-6 col-sm-6">
                                                    <label>SubDominio: </label>
                                                    <div class="input-with-icon">
                                                        <select id="cbBusSubDominioProducto" class="form-control input-thick pill input-with-icon-search">
                                                            <option value="-1">Todos</option>
                                                        </select>
                                                        <span class="icon icon-search input-icon"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6 col-sm-6">
                                                    <label>Activo: </label>
                                                    <div class="input-group" id="divBusFlagActivo"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <label>&nbsp;</label><div class="clear"></div>
                                                        <button id="btnBusTipo" class="btn btn-primary btn-width-custom" onclick="AddProducto()">Nuevo</button>
                                                    </div>
                                                    <div class="row">
                                                        <button id="btnBusBuscar" class="btn btn-primary btn-width-custom" onclick="BuscarProducto()">Buscar</button>
                                                    </div>
                                                    <div class="row">
                                                        <button id="btnBusExportar" class="btn btn-primary btn-width-custom" onclick="ExportarInfo()">Exportar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<fieldset class="fieldset">
                    <legend class="legend">Filtro de búsqueda</legend>
                    <div class="card-search-box">
                        <form action="javascript:void(0);">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group row">
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <label>Producto: </label>
                                            <div class="input-with-icon">
                                                <input id="txtBusNombreProducto" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="Producto...">
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <label>Estado: </label>
                                            <div class="input-with-icon">
                                                <select id="cbBusEstadoObsolescenciaProducto" class="form-control input-thick pill input-with-icon-search">
                                                    <option value="-1">Todos</option>
                                                </select>
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <label>Dominio: </label>
                                            <div class="input-with-icon">
                                                <select id="cbBusDominioProducto" class="form-control input-thick pill input-with-icon-search">
                                                    <option value="-1">Todos</option>
                                                </select>
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <label>SubDominio: </label>
                                            <div class="input-with-icon">
                                                <select id="cbBusSubDominioProducto" class="form-control input-thick pill input-with-icon-search">
                                                    <option value="-1">Todos</option>
                                                </select>
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <label>Tipo de Producto: </label>
                                            <div class="input-with-icon">
                                                <select id="cbBusTipoProducto" class="form-control input-thick pill input-with-icon-search">
                                                    <option value="-1">Todos</option>
                                                </select>
                                                <span class="icon icon-search input-icon"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label>&nbsp;</label><div class="clear"></div>
                                                <button id="btnBusTipo" class="btn btn-primary btn-width-custom" onclick="AddProducto()">Nuevo</button>
                                            </div>
                                            <div class="form-group row">
                                                <button id="btnBusBuscar" class="btn btn-primary btn-width-custom" onclick="BuscarProducto()">Buscar</button>
                                            </div>
                                            <div class="form-group row">
                                                <button id="btnBusExportar" class="btn btn-primary btn-width-custom" onclick="ExportarInfo()">Exportar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>*@
        </div>
    </div>
</div>

@*<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
        <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="AddTipo()">
            <span class="icon icon-plus"></span>
            <span class="count-text">Nuevo</span>
        </a>
        <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="ExportarInfo()">
            <span class="icon icon-external-link"></span>
            <span class="count-text">Exportar</span>
        </a>
    </div>*@

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>Registros de Productos</strong>
            </div>
            <div class="card-body">
                <table id="tbl-lista" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="WorkerId" data-mobile-responsive="true">
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                            <th data-field="DominioStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="DominioStr" data-width="15%">Dominio</th>
                            <th data-field="SubDominioStr" data-halign="center" data-valign="middle" data-align="center" data-width="15%" data-sortable="true" data-sort-name="SubDominioStr">Subdominio</th>
                            @*<th data-field="Id" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%">Id Producto</th>*@
                            <th data-field="Codigo" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%">Código Producto</th>
                            <th data-field="ProductoStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="ProductoStr" data-width="20%">Producto</th>
                            @*<th data-field="Fabricante" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%">Fabricante</th>
                                <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%">Nombre</th>*@
                            @*<th data-field="EstadoObsolescenciaStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="EstadoObsolescenciaId" data-width="10%">Estado</th>*@
                            @*<th data-field="TipoProductoStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="TipoProductoStr" data-width="10%">Tipo de Producto</th>*@
                            <th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="Activo" data-width="10%">Activo</th>
                            <th data-formatter="opciones" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center" data-width="8%">Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" name="hFilTipo" id="hFilTipo" value="" />
</div>

<!--Modal Add or Edit (Producto)-->
<div id="MdAddOrEditProducto" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormProducto"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditProducto">

                        <div class="form-group">
                            <label class="control-label">Código de Producto: </label>
                            <div class="input-with-icon" style="display:flex; align-items:center">
                                <div class="" style="width: 120px;">
                                    <div >
                                        <input id="txtCodigoProductoManual" class="form-control" type="text" maxlength="4" style="text-transform: uppercase;" name="txtCodigoProductoManual">
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="button" style="width: 250px; margin-left: 5px; " id="btnActualizarCodigo">Generar código de producto</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fabricante: </label>
                            <input id="txtFabricanteProducto" class="form-control" type="text" name="txtFabricanteProducto" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nombre: </label>
                            <input id="txtNombreProducto" class="form-control" type="text" name="txtNombreProducto" maxlength="120">
                            <input type="hidden" name="hIdProducto" id="hIdProducto" value="0" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descripción: </label>
                            <textarea id="txtDescripcionProducto" class="form-control" rows="4" name="txtDescripcionProducto" maxlength="1000"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dominio: </label>
                            <select id="cbDominioIdProducto" name="cbDominioIdProducto" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">SubDominio: </label>
                            <select id="cbSubDominioIdProducto" name="cbSubDominioIdProducto" class="form-control"></select>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label">Tipo de producto: </label>
                            <select id="cbTipoProductoIdProducto" name="cbTipoProductoIdProducto" class="form-control"></select>
                        </div>*@
                        @*<div class="form-group">
                            <label class="control-label">Estado de obsolescencia: </label>
                            <select id="cbEstadoObsolescenciaIdProducto" name="cbEstadoObsolescenciaIdProducto" class="form-control" disabled></select>
                        </div>*@
                        <div class="form-group ui-widget tribuCoeContainer">
                            <label class="control-label">Tribu/COE/Unidad Organizacional: </label>
                            <div class="input-with-icon">
                                @*<input id="txtGrupoTicketRemedyProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtGrupoTicketRemedyProducto">*@
                                <input id="txtTribuCoeDisplayNameProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtTribuCoeDisplayNameProducto">
                                <input type="hidden" id="hdTribuCoeIdProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>
                        </div>
                        <div class="form-group ui-widget squadContainer">
                            <label class="control-label">SQUAD/Equipo: </label>
                            <select id="cbSquadIdProducto" name="cbSquadIdProducto" class="form-control"></select>
                            @*<div class="input-with-icon">
                                <input id="txtSquadDisplayNameProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtSquadDisplayNameProducto">
                                <input type="hidden" id="hdSquadIdProducto" />
                                <input type="hidden" id="hdSquadMatriculaProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>*@
                        </div>
                        <div class="form-group ui-widget ownerContainer">
                            <label class="control-label">Responsable de la Unidad: </label>
                            <div class="input-with-icon">
                                @*<input id="txtGrupoTicketRemedyProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtGrupoTicketRemedyProducto">*@
                                <input id="txtOwnerDisplayNameProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtOwnerDisplayNameProducto" readonly>
                                <input type="hidden" id="hdOwnerIdProducto" />
                                <input type="hidden" id="hdOwnerMatriculaProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>
                        </div>
                        <div class="form-group equipoAdmContactoContainer">
                            <label class="control-label">Equipo de administración y punto de contacto: </label>
                            @*<input id="txtEquipoAdmContactoProducto" name="txtEquipoAdmContactoProducto" type="text" class="form-control" />*@
                            <div class="input-with-icon">
                                <input id="txtEquipoAdmContactoProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtEquipoAdmContactoProducto">
                                <input type="hidden" id="hdEquipoAdmContactoIdProducto" />
                                <input type="hidden" id="hdEquipoAdmContactoMatriculaProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>
                        </div>
                        <div class="form-group equipoAprovisionamientoContainer">
                            <label class="control-label">Equipo de aprovisionamiento: </label>
                            <div class="input-with-icon">
                                <input id="txtEquipoAprovisionamientoProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtEquipoAprovisionamientoProducto">
                                <input type="hidden" id="hdEquipoAprovisionamientoIdProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>
                        </div>
                        <div class="form-group grupoTicketRemedyContainer">
                            <label class="control-label">Grupo de Soporte REMEDY: </label>
                            <div class="input-group" style="display: flex">
                                <div class="input-with-icon" style="width: 100%">
                                    <input id="txtGrupoTicketRemedyProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtGrupoTicketRemedyProducto">
                                    <input type="hidden" id="hdGrupoTicketRemedyIdProducto" />
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                                &nbsp;
                                <div class="input-group-append" style="display: flex">
                                    <div class="input-group" id="divFlagGrupoRemedyPendienteCreacion"></div>
                                    &nbsp;
                                    <label class="control-label">Pendiente de creación</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                ¿Este producto es una aplicación?
                            </label>
                            <div class="input-group" id="divFlagAplicacion"></div>
                        </div>
                        <!--
    <div class="form-group" id="divCodigoProducto">
        <label class="control-label">Código: </label>
        <input id="txtCodigoProducto" class="form-control" type="text" name="txtCodigoProducto">
    </div>
    -->
                        <div class="form-group ui-widget codigoAplicacionContainer hidden" id="divCodigoAplicacionProducto">
                            <label class="control-label">Código Aplicación: </label>
                            <div class="input-with-icon">
                                <input id="txtCodigoAplicacionProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input" type="text" name="txtCodigoAplicacionProducto">
                                <input type="hidden" id="hdAplicacionIdProducto" />
                                <input type="hidden" id="hdAplicacionCodigoProducto" />
                                <span class="icon icon-search input-icon"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo de Ciclo de Vida: </label>
                            <select id="cbTipoCicloVidaIdProducto" name="cbTipoCicloVidaIdProducto" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Esquema de Licenciamiento/Suscripción: </label>
                            <select id="cbEsquemaLicenciamientoSuscripcionIdProducto" name="cbEsquemaLicenciamientoSuscripcionIdProducto" class="form-control"></select>
                        </div>
                        <div class="row" id="divArquetipos">
                            <div class="col-sm-12">
                                <div class="form-group ui-widget arquetipoContainer">
                                    <label class="control-label">Arquetipos: </label>
                                    <div class="input-with-icon">
                                        <input id="txtArquetipoProducto" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input field-tecnologia-app" type="text" name="txtArquetipoTecnologia">
                                        <input type="hidden" id="hdArquetipoIdProducto" />
                                        <span class="icon icon-search input-icon"></span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <table id="tbl-arquetipos" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="ArquetipoId" data-mobile-responsive="true">
                                        <thead>
                                            <tr>
                                                <th data-field="Arquetipo.Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Arquetipos</th>
                                                <th data-formatter="formatOpcArquetipo" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <input type="text" id="msjValidTblArquetipo" name="msjValidTblArquetipo" class="form-control field-tecnologia" style="display:none;" />
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegProducto" class="btn btn-primary" onclick="GuardarAddOrEditProducto()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Add or Edit (Producto)-->
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<div id="MdTecnologiasByProducto" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Tecnologías Asociadas</h4>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    <table id="tbl-tecnologias" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="Id" data-mobile-responsive="true">
                        <thead>
                            <tr>
                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                                <th data-field="ClaveTecnologia" data-halign="center" data-valign="middle" data-align="center" data-sortable="true">Tecnología</th>
                                <th data-field="TipoTecnologiaStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true">Estado de Estandarización</th>
                                <th data-field="Descripcion" data-halign="left" data-valign="middle" data-align="left" data-sortable="true">Descripción</th>
                                <th data-formatter="formatOpcTecnologia" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                            </tr>
                        </thead>
                    </table>
                    <input type="text" id="msjValidTbl" name="msjValidTbl" class="form-control field-tecnologia" style="display:none;" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<div id="MdTecnologiaByProducto" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Tecnologías</h4>
            </div>
            <div class="modal-body">
                <form id="formTecnologia">
                    <div class="form-group">
                        <label class="control-label">Fabricante: </label>
                        <input id="txtFabricanteTecnologia" class="form-control field-tecnologia" type="text" name="txtFabricanteTecnologia" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombreTecnologia" class="form-control field-tecnologia" type="text" name="txtNombreTecnologia">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Versión: </label>
                        <input id="txtVersionTecnologia" class="form-control field-tecnologia" type="text" name="txtVersionTecnologia">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Clave de la Tecnología: </label>
                        <input id="txtClaveTecnologia" class="form-control field-tecnologia" type="text" name="txtClaveTecnologia" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado de Estandarización: </label>
                        <select id="cbTipoTecnologiaIdTecnologia" name="cbTipoTecnologiaIdTecnologia" class="form-control field-tecnologia"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripción: </label>
                        <textarea id="txtDescripcionTecnologia" class="form-control field-tecnologia" rows="4" name="txtDescripcionTecnologia" maxlength="1000" readonly></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Fecha de lanzamiento de tecnología: </label>
                                <div class="input-group date" id="divFechaLanzamientoTecnologia">
                                    <input type="text" id="txtFechaLanzamientoTecnologia" name="txtFechaLanzamientoTecnologia" class="form-control field-tecnologia" />
                                    <span class="input-group-addon" id="txtFechaLanzamientoTecnologia-btn">
                                        <span class="icon icon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    ¿Tiene fecha fin de soporte?
                                </label>
                                <div class="input-group" id="divFlagFechaFinSoporte"></div>
                            </div>
                        </div>
                    </div>
                    <div id="FinSoporte" class="col-sm-12 table-bordered">
                        <div class="row"></div>
                        <div id="FinSoporte_Si">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Fuente: </label>
                                        <select id="cbFuenteTecnologia" name="cbFuenteTecnologia" class="form-control field-tecnologia"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha para cálculo de obsolescencia: </label>
                                        <select id="cbFechaCalculosTecnologia" name="cbFechaCalculosTecnologia" class="form-control field-tecnologia"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha fin extendida de la tecnología: </label>
                                        <div class="input-group date" id="divFechaFinExtendidaTecnologia">
                                            <input type="text" id="txtFechaFinExtendidaTecnologia" name="txtFechaFinExtendidaTecnologia" class="form-control field-tecnologia" />
                                            <span class="input-group-addon" id="txtFechaFinExtendidaTecnologia-btn">
                                                <span class="icon icon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha fin soporte de tecnología: </label>
                                        <div class="input-group date" id="divFechaFinSoporteTecnologia">
                                            <input type="text" id="txtFechaFinSoporteTecnologia" name="txtFechaFinSoporteTecnologia" class="form-control field-tecnologia" />
                                            <span class="input-group-addon" id="txtFechaFinSoporteTecnologia-btn">
                                                <span class="icon icon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha fin interna de la tecnología: </label>
                                        <div class="input-group date" id="divFechaFinInternaTecnologia">
                                            <input type="text" id="txtFechaFinInternaTecnologia" name="txtFechaFinInternaTecnologia" class="form-control field-tecnologia" />
                                            <span class="input-group-addon" id="txtFechaFinInternaTecnologia-btn">
                                                <span class="icon icon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Tipo Fecha Interna <span class="text-danger"></span>: </label>
                                        <select id="cbTipoFechaInternaTecnologia" name="cbTipoFechaInternaTecnologia" class="form-control field-tecnologia"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Comentarios asociados a la fecha fin de soporte de tecnología: </label>
                                <textarea id="txtComentariosFechaFinSoporteTecnologia" class="form-control field-tecnologia" rows="4" name="txtComentariosFechaFinSoporteTecnologia" maxlength="1000"></textarea>
                            </div>
                        </div>
                        <div id="FinSoporte_No">
                            <div class="form-group">
                                <label class="control-label">Motivo <span class="text-danger"></span>: </label>
                                <select id="cbSustentoMotivoFechaFinSoporteTecnologia" name="cbSustentoMotivoFechaFinSoporteTecnologia" class="form-control field-tecnologia"></select>
                                @*<textarea id="txtSustentoMotivoFechaFinSoporteTecnologia" class="form-control field-tecnologia" rows="4" name="txtSustentoMotivoFechaFinSoporteTecnologia" maxlength="1000"></textarea>*@
                            </div>
                            <div class="form-group">
                                <label class="control-label">Url <span class="text-danger"></span>: </label>
                                <input type="text" id="txtSustentoUrlFechaFinSoporteTecnologia" class="form-control field-tecnologia" name="txtSustentoUrlFechaFinSoporteTecnologia" />
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="form-group">
                        <label class="control-label">¿La tecnología tiene script que automatiza su implementación? </label>
                        <select id="cbAutomatizacionImplementadaIdTecnologia" name="cbAutomatizacionImplementadaIdTecnologia" class="form-control field-tecnologia"></select>
                    </div>
                    <div class="row" id="divAplicaciones">
                        <div class="col-sm-12">
                            <div class="form-group ui-widget aplicacionContainer">
                                <label class="control-label">Por favor agregue las aplicaciones permitidas para hacer uso de la tecnología: </label>
                                <div class="input-with-icon">
                                    <input id="txtAplicacionTecnologia" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input field-tecnologia-app" type="text" name="txtAplicacionTecnologia">
                                    <input type="hidden" id="hdAplicacionIdTecnologia" />
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <table id="tbl-aplicaciones" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="AplicacionId" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th data-field="Aplicacion.CodigoAPT" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Código del aplicativo</th>
                                            <th data-field="Aplicacion.Nombre" data-halign="center" data-valign="middle" data-align="center" data-sortable="true">Nombre del aplicativo</th>
                                            <th data-field="Aplicacion.TipoActivoInformacion" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Tipo de Activo</th>
                                            <th data-field="Aplicacion.Owner_LiderUsuario_ProductOwner" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Usuario Líder</th>
                                            <th data-formatter="formatOpcAplicacion" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                                        </tr>
                                    </thead>
                                </table>
                                <input type="text" id="msjValidTbl" name="msjValidTbl" class="form-control field-tecnologia" style="display:none;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegTecnologia" type="button" class="btn btn-primary" onclick="guardarTecnologia()" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="hdTecnologiaId" id="hdTecnologiaId" value="0" />
</div>
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<div id="MdAppsByTecnologia" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Aplicaciones</h4>
            </div>
            <div class="modal-body">
                <form id="formAplicaciones">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ui-widget aplicacionSingleContainer">
                                <label class="control-label">Por favor agregue las aplicaciones permitidas para hacer uso de la tecnología: </label>
                                <div class="input-with-icon">
                                    <input id="txtAplicacionTecnologiaSingle" class="form-control input-thick pill input-with-icon-search ui-autocomplete-input field-tecnologia-app" type="text" name="txtAplicacionTecnologiaSingle">
                                    <input type="hidden" id="hdAplicacionIdTecnologiaSingle" />
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <table id="tbl-aplicaciones-single" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="AplicacionId" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th data-field="Aplicacion.CodigoAPT" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Código del aplicativo</th>
                                            <th data-field="Aplicacion.Nombre" data-halign="center" data-valign="middle" data-align="center" data-sortable="true">Nombre del aplicativo</th>
                                            <th data-field="Aplicacion.TipoActivoInformacion" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Tipo de Activo</th>
                                            <th data-field="Aplicacion.Owner_LiderUsuario_ProductOwner" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Usuario Líder</th>
                                            <th data-formatter="formatOpcAplicacionSingle" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                                        </tr>
                                    </thead>
                                </table>
                                <input type="text" id="msjValidTblSingle" name="msjValidTblSingle" class="form-control field-tecnologia" style="display:none;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegAplicaciones" type="button" class="btn btn-primary" onclick="guardarAplicaciones()" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="hdTecnologiaId" id="hdTecnologiaId" value="0" />
</div>
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<!--Modal Nueva Tecnologia Asociadas (Producto)-->
<div id="MdHistorial" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Historial de modificaciones</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <table id="tbl-historial" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="Id" data-mobile-responsive="true">
                                <thead>
                                    <tr>
                                        <th data-field="EntidadAsociado" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Entidad</th>
                                        <th data-field="AsociadoId" data-halign="center" data-valign="middle" data-align="center" data-sortable="true">Id Asociado</th>
                                        <th data-field="Data" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Data</th>
                                        <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Creado Por</th>
                                        <th data-field="FechaCreacion" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Fecha Creación</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="hdTecnologiaId" id="hdTecnologiaId" value="0" />
</div>
<!--Modal Nueva Tecnologia Asociadas (Producto)-->

<script>
    const estadoObsolescenciaIdVigente = '@((int)EEstadoObsolescenciaProducto.Vigente)';
    const estadoObsolescenciaIdObsoleto = '@((int)EEstadoObsolescenciaProducto.Obsoleto)';
    const tipoIdEstandarRestringido = '@((int)ETipo.EstandarRestringido)';
</script>
<script src="~/app/gestionProducto.js?v=2.0.0"></script>