@{
    ViewBag.Title1 = "Configuración de Proceso";
    ViewBag.Title2 = "Configuración - Dependencia de Aplicación";
    ViewBag.Title3 = "Configuración de Proceso";
}


<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<style>
    .nombreDom {
        min-width: 180px;
    }

    .nombreTec {
        min-width: 280px;
    }

    .opcTecnologia {
        min-width: 150px;
    }

    .accesoDirecto {
        min-width: 200px;
    }

    .tecnologia-label {
        padding: 0px;
    }

    /*.input-with-icon-search {
         padding-left: 26px;
     }*/

    .tec {
        pointer-events: none;
        opacity: 0.3;
    }

    .tooltip {
        z-index: 2000 !important;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }

    .multiselect-native-select .btn-group {
        max-width: 100%;
    }

    .card-search .fieldset hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #ddd;
    }
</style>


<div class="view-listado">
    <div class="card">
        <div class="card-body">
            <div class="card-search">
                <fieldset class="fieldset">
                    <legend class="legend">Filtro de búsqueda</legend>
                    <form id="formFiltros">
                        <div class="card-search-box">
                            <div class="row gutter-xs">
                                <div class="col-md-8 col-xs-8">
                                    <div class="text-left" data-toggle="match-height">
                                        <h5>Aplicación: </h5>
                                        <div class="input-with-icon filAppContainer">
                                            <input id="txtFilApp" name="txtFilApp" class="form-control input-thick pill input-with-icon-search" type="text">
                                            <span class="icon icon-search input-icon"></span>
                                        </div>
                                        <input type="hidden" id="hdFilAppId" name="hdFilAppId" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row gutter-xs form-group">

                                <div class="col-md-8 col-xs-8 col-sm-8">
                                </div>
                                <div class="col-md-2 col-xs-2 col-sm-2">
                                    <button id="btnBuscar" type="button" class="btn btn-primary btn-width-custom" onclick="Buscar()">Buscar</button>
                                </div>
                                <div class="col-md-2 col-xs-2 col-sm-2">
                                    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="guardarAddOrEditDependenciaApps()">
                                        <span class="icon icon-plus"></span>
                                        <span class="count-text">Agregar</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </form>

                </fieldset>
            </div>
        </div>
    </div>
    <div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">

    </div>

    <div class="row gutter-xs">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="row">
                            <div class="panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                                <div class="col-xs-9 col-md-9 text-left">
                                    <h4 id="tituloResultado" name="tituloResultado"></h4>
                                </div>

                            </div>
                            <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px;">
                                <table id="tblDependenciasApps" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="5%">#</th>
                                            <th data-field="CodigoAPT" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Código APT</th>
                                            <th data-field="NombreAPT" data-halign="center" data-valign="middle" data-align="center">Nombre</th>
                                            <th data-field="FechaUltProcesoStr" data-halign="center" data-valign="middle" data-align="center">Fecha Ultimo proceso</th>
                                            <th data-formatter="opcionesProceso" data-field="FlagProceso" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-width="10%">Proceso</th>
                                            <th data-formatter="opcionesActivo" data-field="Activo" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Activo</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/app/DependenciasApps/Configuracion.js?v=0.3.0"></script>
