@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title1 = "Solicitudes asignadas";
    ViewBag.Title2 = "Flujo de aprobación";
    ViewBag.Title3 = "Solicitudes asignadas";

    string nombreApp = (string)ViewBag.Nombre_App;
    int paginaActual = (int)ViewBag.PaginaActual;
    int paginaTamanio = (int)ViewBag.PaginaTamanio;

    int gestionado = (int)ViewBag.Gestionado;
    int estadoApp = (int)ViewBag.EstadoApp;
    int estadoSolicitud = (int)ViewBag.EstadoSolicitud;
    int flujo = (int)ViewBag.Flujo;
    string orderBy = (string)ViewBag.OrderBy;
    string orderDirection = (string)ViewBag.OrderDirection;

}
<style>
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }

    .width-des {
        min-width: 300px;
    }

    .bloq-element {
        pointer-events: none;
        opacity: 0.7;
    }

    /* Chat containers */
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
        border-color: #f7a033;
        background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

        /* Style the right image */
        .container img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }

    .user-name {
        font-weight: bold;
        text-transform: uppercase;
    }
</style>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<div class="card">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <form id="formFiltros">
                        <div class="row gutter-xs">
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left ui-widget containerAplicacion" data-toggle="match-height">
                                    <h5>Aplicación</h5>
                                    <input type="text" id="txtAplicacionFiltro" name="txtAplicacionFiltro" value="" maxlength="100" autocomplete="on" class="form-control ui-autocomplete-input" />
                                    <input type="hidden" name="hdAplicacionFiltroId" id="hdAplicacionFiltroId" />
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left ui-widget" data-toggle="match-height">
                                    <h5>Gestionado por</h5>
                                    <select id="cbFilGestionadoPor" name="cbFilGestionadoPor" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left ui-widget" data-toggle="match-height">
                                    <h5>Estado de la aplicación</h5>
                                    <select id="cbFilEstado" name="cbFilEstado" class="form-control">
                                        <option value="-1" selected="selected">Todos</option>
                                        <option value="1">En Desarrollo</option>
                                        <option value="2">Vigente</option>
                                        <option value="3">No Vigente</option>
                                        <option value="4">Eliminada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left ui-widget" data-toggle="match-height">
                                    <h5>Estado de atención</h5>
                                    <select id="cbFilEstadoSolicitud" name="cbFilEstadoSolicitud" class="form-control">
                                        <option value="-1" selected="selected">Todos</option>
                                        <option value="0">Pendiente de atención</option>
                                        <option value="1">Atendida</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row gutter-xs">
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left ui-widget" data-toggle="match-height">
                                    <h5>Flujo de aprobación</h5>
                                    <select id="cbFilFlujo" name="cbFilFlujo" class="form-control">
                                        <option value="-1" selected="selected">Todos</option>
                                        <option value="1">Registro de aplicación</option>
                                        <option value="2">Actualización de aplicación</option>
                                        <option value="3">Eliminación de aplicación</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">

                            </div>
                            <div class="col-xs-3 col-md-3 text-right">
                                <h5>&nbsp;</h5>
                                <button id="btnBuscar" type="button" class="btn btn-primary btn-width-custom" onclick="RefrescarListado()">Buscar</button>
                                <button id="btnExportar" type="button" class="btn btn-primary btn-width-custom" onclick="ExportarInfo()">Exportar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<hr />
<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <table id="tblRegistro" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true">
                    <caption class="caption text-left">
                        <span>Solicitudes registradas</span>
                    </caption>
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                            <th data-formatter="opcionesFormatter" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Acciones</th>
                            <th data-formatter="estadoFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado de <br /> atención</th>
                            <th data-field="typeFlowDetail" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Flujo</th>
                            <th data-field="applicationId" data-formatter="linkFormatter" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="applicationId">Código <br />APT</th>
                            <th data-field="applicationName" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="applicationName">Nombre</th>
                            <th data-field="managedBy" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="managedBy">Gestionado <br />por</th>
                            <th data-field="statusDetail" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="status">Estado de la <br />aplicación</th>
                            <th data-field="registeredBy" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="status">Registrado por</th>
                            <th data-field="dateCreation" data-formatter="dateFormat2" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="dateCreation">Fecha de registro <br /> de la solicitud</th>
                            <th data-field="typeRegisterDetail" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="typeRegister">Rol asignado</th>
                            <th data-field="assignedToDetail" data-halign="center" data-valign="middle" data-align="center">Asignado a</th>
                            <th data-field="isApprovedDetail" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="isApproved">Situación de <br /> la solicitud</th>
                            <th data-field="fechaAtencionStr" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="fechaAtencionStr">Fecha de atención</th>
                            <th data-field="comments" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="comments">Comentarios del Custodio</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="hdAplicacionId" id="hdAplicacionId" value="0" />

<div id="modalVerAplicacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalVerAplicacion" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="title-md">Información detallada de la aplicación</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-justified otros">
                    <li class="active tab-panel-tecnologia"><a class="tab-panel-tecnologia" href="#datGen" data-toggle="tab">Datos Generales</a></li>
                    <li class="tab-panel-tecnologia"><a class="tab-panel-tecnologia" href="#datTran" data-toggle="tab">Información adicional</a></li>
                </ul>
                <form id="formAddOrEditApp">
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="datGen">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        &nbsp;
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Código de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" maxlength="4" id="txtCodigoAPT" name="txtCodigoAPT" disabled="disabled" />
                                                <input type="hidden" value="0" id="hdAplicacionId" name="hdAplicacionId" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                Gestionado por
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlGestionadoPor" name="ddlGestionadoPor" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Nombre de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtNombre" name="txtNombre" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Tipo de implementación
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlTipoImplementacion" name="ddlTipoImplementacion" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Descripción
                                            </div>
                                            <div class="col-md-7">
                                                <textarea class="form-control" rows="7" id="txtDescripcion" name="txtDescripcion" disabled="disabled"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Modelo de entrega
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlModeloEntrega" name="ddlModeloEntrega" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Código de aplicación padre
                                            </div>
                                            <div class="col-md-7 containerPadreAplicacion">
                                                <input id="txtCodigoAppPadre" name="txtCodigoAppPadre" type="text" class="form-control" maxlength="200" disabled="disabled" />
                                                <input type="hidden" id="hCodigoPadre" name="hCodigoPadre" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                Estado de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlEstadoAplicacion" name="ddlEstadoAplicacion" class="form-control" disabled="disabled">
                                                    <option value="-1">-- Seleccione --</option>
                                                    <option value="1">En desarrollo</option>
                                                    <option value="2">Vigente</option>
                                                    <option value="3">No Vigente</option>
                                                    <option value="4">Eliminada</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Arquitecto evaluador de la aplicación (solución, tecnología)
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlArquitectoNegocio" name="ddlArquitectoNegocio" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 divInterfaz">
                                            <div class="col-md-4">
                                                Requiere de un código de interfaz
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-group" id="divFlagInterface" disabled="disabled"></div>
                                            </div>
                                            <div class="col-md-5">
                                                <input id="txtCodigoInterfaz" class="form-control" type="text" name="txtCodigoInterfaz" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Arquitecto de Solución
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlArquitectoSolucion" name="ddlArquitectoSolucion" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Gerencia
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtGerencia" name="txtGerencia" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                Área
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtArea" name="txtArea" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                División
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtDivision" name="txtDivision" disabled="disabled" />

                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Unidad dueña de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtUnidad" name="txtUnidad" type="text" class="form-control" maxlength="120" disabled="disabled" />
                                                <input type="hidden" id="hdUnidadId" value="" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Equipo/Squad
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlEquipo" name="ddlEquipo" class="form-control" disabled="disabled">
                                                    <option value="-1">-- Seleccione --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 divExpertoContainer">
                                            <div class="col-md-5">
                                                Experto
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtExperto" name="txtExperto" type="text" class="form-control" maxlength="120" disabled="disabled" />
                                                <input type="hidden" id="hExpertoId" value="" />
                                                <input type="hidden" id="hExpertoMatricula" value="" />
                                                <input type="hidden" id="hExpertoCorreo" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Entidades usuarias
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlEntidades" name="ddlEntidades" class="form-control" multiple="multiple" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Tipo de desarrollo
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlTipoDesarrollo" name="ddlTipoDesarrollo" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Proveedor de desarrollo
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtProveedorDesarrollo" name="txtProveedorDesarrollo" type="text" class="form-control" maxlength="120" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Código de aplicación reemplazada
                                            </div>
                                            <div class="col-md-7 containerReemplazoAplicacion">
                                                <input id="txtAplicacionReemplazada" name="txtAplicacionReemplazada" type="text" class="form-control" maxlength="120" disabled="disabled" />
                                                <input type="hidden" id="hCodigoReemplazada" name="hCodigoReemplazada" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Infraestructura de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlInfraestructura" name="ddlInfraestructura" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Método de autenticación
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlAutenticacion" name="ddlAutenticacion" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Método de autorización
                                            </div>
                                            <div class="col-md-7">
                                                <select id="ddlAutorizacion" name="ddlAutorizacion" class="form-control" disabled="disabled">
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Grupo Ticket Remedy
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtGrupoTicketRemedy" name="txtGrupoTicketRemedy" class="form-control" type="text" maxlength="200" disabled="disabled">
                                                <input type="hidden" id="hGrupoTicketRemedy" name="hGrupoTicketRemedy" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                URL - Dominio web
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtURL" name="txtURL" type="text" class="form-control" maxlength="300" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>


                                    <div class="row datosUserIT">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Nivel de cumplimiento de seguridad
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtComplianceLevel" name="txtComplianceLevel" type="text" class="form-control" maxlength="300" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 divUnidadContainer">
                                            <div class="col-md-4">
                                                Correo de conformidad del OFICIAL DE SEGURIDAD sobre la MES de la aplicación
                                            </div>
                                            <div class="col-md-7">
                                                <a id="btnDescargar" class="btn btn-primary btn-width-custom">
                                                    <span class="icon icon-arrow-down"></span>
                                                    <span class="count-text">Descargar</span>
                                                </a>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                    <div class="row datosUserIT">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                Resumen de lineamientos de seguridad
                                            </div>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="7" id="txtSummaryStandard" name="txtSummaryStandard" disabled="disabled"></textarea>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="datTran">
                            <div class="row">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">

                                            </div>
                                            <div class="col-md-7">


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>Arquitectura de Negocio</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Tipo Activo
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtTipoActivo" name="txtTipoActivo" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                Área  BIAN
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtAreaBIAN" name="txtAreaBIAN" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Dominio BIAN
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtDominioBIAN" name="txtDominioBIAN" disabled="disabled" />

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                Jefatura ATI
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtJefaturaATI" name="txtJefaturaATI" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                TOBE
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtTOBE" name="txtTOBE" disabled="disabled" />

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>Arquitectura de Tecnología</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Categoría Tecnológica
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtCategoriaTecnologica" name="txtCategoriaTecnologica" maxlength="180" disabled="disabled" />
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="col-md-4">
                                                    Clasificación Técnica
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="txtClasificacionTecnica" name="txtClasificacionTecnica" disabled="disabled" />
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>*@
                                    </div>
                                    @*<div class="row">

                                            <div class="col-md-6">
                                                <div class="col-md-5">
                                                    Sub Clasificación Técnica
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="txtSubClasificacionTecnica" name="txtSubClasificacionTecnica" maxlength="180" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-7">

                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>Arquitectura de Solución</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                Capa Funcional
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtCapaFuncional" name="txtCapaFuncional" maxlength="180" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>AIO</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                TIER Producción
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtTIERProduccion" name="txtTIERProduccion" maxlength="180" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                TIER Pre Producción
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="txtTIERPreProduccion" name="txtTIERPreProduccion" disabled="disabled" />
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>Roles</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>

                                    <div class="row gutter-xs">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="card">
                                                <div class="card-body">
                                                    <table id="tblRoles" class="table" data-unique-id="Id" data-mobile-responsive="true">
                                                        <caption class="caption text-left">
                                                            <span>Registros configurados</span>
                                                        </caption>
                                                        <thead>
                                                            <tr>
                                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                                                                <th data-field="applicationManagerIdDetail" data-halign="center" data-valign="middle" data-align="left">Rol</th>
                                                                <th data-field="managerName" data-halign="center" data-valign="middle" data-align="left">Responsable</th>
                                                                <th data-field="email" data-halign="center" data-valign="middle" data-align="left">Correo electrónico</th>
                                                                <th data-field="username" data-halign="center" data-valign="middle" data-align="left">Matrícula</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="row gobUserIT">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <b>Gobierno User IT</b>
                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-7">

                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row gobUserIT">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                ¿El registro corresponde a una aplicación informal?
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group col-md-2" id="divFlagInformal"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <span class="fechaFormalizacion">Fecha de formalización</span>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group date fechaFormalizacion" id="divFechaRegularizacion">
                                                    <input type="text" id="dpFechaRegularizacion" name="dpFechaRegularizacion" class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="icon icon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal eliminado-->

<input type="hidden" name="hdSolicitudId" id="hdSolicitudId" value="0" />
<input type="hidden" name="hdFlowId" id="hdFlowId" value="0" />
<div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEliminar" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form id="formEliminar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="titulo">Solicita la eliminación de esta aplicación</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" id="subtitulo"></label>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" id="descripcion" disabled></textarea>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-12">
                            <p>Para procesar tu solicitud, todos los datos son necesarios</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Estado de relaciones en CVT: </label>
                                    </div>
                                    <div class="col-md_9">
                                        <div class="input-group">
                                            <a class="btn btn-success btn-circle"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="col-md-1">
                                            <div class="input-group">
                                                <a class="btn btn-danger btn-circle"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <em>Tiene relaciones aprobadas en CVT</em>
                                        </div>
                                    </div>
                                    <div class="col-md_7"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="col-md-1">
                                            <div class="input-group">
                                                <a class="btn btn-success btn-circle"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <em>No tiene información relacionada en CVT</em>
                                        </div>
                                    </div>
                                    <div class="col-md_7"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Tipo de Eliminación: </label>
                                </div>
                                <div class="col-md-6">
                                    <select id="ddlTipoEliminacion" name="ddlTipoEliminacion" class="form-control" disabled>
                                        <option value="-1" selected>-- Seleccione --</option>
                                        <option value="1">Eliminación administrativa</option>
                                        <option value="2">Pasó por proceso de eliminación de la aplicación</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12 divProcesoEliminacion">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Requiere Conformidad GST: </label>

                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group" id="divFlagConformidadGST"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group" id="divTxtConformidadGST" disabled="disabled">
                                            <input id="txtNomArchivoConformidad" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
                                            <span class="input-group-btn">
                                                <label class="btn btn-primary file-upload-btn">
                                                    <input id="flConformidad" class="file-upload-input inputConformidad" type="file" name="flConformidad" disabled>
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a id="btnDescargar1" class="btn btn-primary btn-width-custom">
                                            <span class="icon icon-arrow-down"></span>
                                            <span class="count-text">Descargar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 divProcesoEliminacion">
                            <div class="form-group">
                                <label class="control-label">Ticket de eliminación: </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="txtTicket" class="form-control" type="text" disabled>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input id="txtNomTicket" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
                                            <span class="input-group-btn">
                                                <label class="btn btn-primary file-upload-btn">
                                                    <input id="flTicket" class="file-upload-input inputTicket" type="file" name="flTicket" disabled>
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a id="btnDescargar2" class="btn btn-primary btn-width-custom">
                                            <span class="icon icon-arrow-down"></span>
                                            <span class="count-text">Descargar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 divProcesoEliminacion">
                            <div class="form-group">
                                <label class="control-label">Ratificación: </label>
                                <div class="row">
                                    <div class="col-md-4 divExpertoContainer">
                                        <div class="row">
                                            <div class="col-md-3">
                                                Ractificante

                                            </div>
                                            <div class="col-md-9">
                                                <input id="txtExperto2" class="form-control" type="text" disabled>
                                                @*<input type="hidden" id="hExpertoId" value="" />
                                                    <input type="hidden" id="hExpertoMatricula" value="" />
                                                    <input type="hidden" id="hExpertoCorreo" value="" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input id="txtNomRatificacion" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
                                            <span class="input-group-btn">
                                                <label class="btn btn-primary file-upload-btn">
                                                    <input id="flRatificacion" class="file-upload-input inputRatificacion" type="file" name="flRatificacion" disabled>
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a id="btnDescargar3" class="btn btn-primary btn-width-custom">
                                            <span class="icon icon-arrow-down"></span>
                                            <span class="count-text">Descargar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 divEliminacionAdministrativa">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-3 divConformidadContainer">

                                        <label class="control-label">Conformidad: </label>


                                    </div>
                                    <div class="col-md-6">

                                        <input id="txtConformidad" name="txtConformidad" type="text" class="form-control" maxlength="120" disabled />
                                        <input type="hidden" id="hConformidadId" value="" />
                                        <input type="hidden" id="hConformidadMatricula" value="" />
                                        <input type="hidden" id="hConformidadCorreo" value="" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 divEliminacionAdministrativa">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Archivo Adjunto: </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="txtArchivo" class="form-control" type="text" value="Ningun archivo seleccionado" readonly>
                                            <span class="input-group-btn">
                                                <label class="btn btn-primary file-upload-btn">
                                                    <input id="flArchivo" class="file-upload-input inputArchivo" type="file" name="flArchivo" disabled>
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a id="btnDescargar4" class="btn btn-primary btn-width-custom">
                                            <span class="icon icon-arrow-down"></span>
                                            <span class="count-text">Descargar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Comentarios asociados a este cambio de estado: </label>
                                <textarea id="txtDescripcionEliminar" name="txtDescripcionEliminar" rows="5" class="form-control" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnAprobar" class="btn btn-primary" type="button" data-loading-text="Procesando...">Aprobar</button>
                    <button id="btnRechazar" class="btn btn-primary" type="button" data-loading-text="Procesando...">Rechazar</button>
                    <button id="btnObservar" class="btn btn-primary" type="button" data-loading-text="Procesando...">Observar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Rechazo eliminación-->


<div id="modalEliminar2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEliminar2" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form id="formEliminar2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="titulo">Solicita la eliminación de esta aplicación</h5>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-12">
                            <p>Por favor ingrese el motivo por el cual rechaza esta solicitud</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Motivo: </label>
                            <textarea id="txtMotivoRechazo" name="txtMotivoRechazo" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnRechazar2" class="btn btn-primary" type="button" data-loading-text="Procesando...">Rechazar</button>
                </div>
            </div>


        </form>
    </div>
</div>

<!-- Modal Rechazo eliminación-->


<div id="modalObservar2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalObservar2" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form id="formObservar2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="titulo">Solicita la eliminación de esta aplicación</h5>
                </div>
                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-12">
                            <p>Por favor ingrese el motivo por el cual observa esta solicitud</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Motivo: </label>
                            <textarea id="txtMotivoObservacion" name="txtMotivoObservacion" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnObservar2" class="btn btn-primary" type="button" data-loading-text="Procesando...">Observar</button>
                </div>
            </div>


        </form>
    </div>
</div>




<div id="modalFlujosAplicacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalFlujosAplicacion" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="title-md">Información detallada de los responsables de aprobación de la aplicación: <span id="spanApp"></span></h5>
                </div>
                <div class="modal-body">
                    <div class="row gutter-xs">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="tblFlujos" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true">
                                        <caption class="caption text-left">
                                            <span>Solicitudes registradas para la aplicación</span>
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                                                <th data-formatter="estadoFlujoFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado de atención</th>
                                                <th data-field="nameDetail" data-halign="center" data-valign="middle" data-align="center">Responsable</th>
                                                <th data-field="typeRegisterDetail" data-halign="center" data-valign="middle" data-align="center">Rol asignado</th>
                                                <th data-field="isApprovedDetail" data-halign="center" data-valign="middle" data-align="center">Situación de <br /> la solicitud</th>
                                                <th data-field="dateApprovedStr" data-halign="center" data-valign="middle" data-align="center">Fecha de Aprobación</th>
                                                <th data-field="comments" data-halign="center" data-valign="middle" data-align="center">Comentarios</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalFlujosAplicacion2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalFlujosAplicacion2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="title-md">Información detallada de los responsables de aprobación de la aplicación: <span id="spanApp2"></span></h5>
                </div>
                <div class="modal-body">
                    <div class="row gutter-xs">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="tblFlujos2" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true">
                                        <caption class="caption text-left">
                                            <span>Solicitudes registradas para la aplicación</span>
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                                                <th data-formatter="estadoFlujoFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado de atención</th>
                                                @*<th data-field="nameDetail" data-halign="center" data-valign="middle" data-align="center">Responsable</th>*@
                                                <th data-field="typeRegisterDetail2" data-halign="center" data-valign="middle" data-align="center">Rol asignado</th>
                                                <th data-field="estadoEliminacion" data-halign="center" data-valign="middle" data-align="center">Situación de <br /> la solicitud</th>
                                                <th data-field="dateApprovedStr" data-halign="center" data-valign="middle" data-align="center">Fecha de Aprobación</th>
                                                <th data-field="comments" data-halign="center" data-valign="middle" data-align="center">Comentarios</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalFlujosAplicacion3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalFlujosAplicacion3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="title-md">Información detallada de los responsables de aprobación de la aplicación: <span id="spanApp3"></span></h5>
                </div>
                <div class="modal-body">
                    <div class="row gutter-xs">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="tblFlujos3" class="table" cellspacing="0" data-unique-id="AppId" data-mobile-responsive="true">
                                        <caption class="caption text-left">
                                            <span>Solicitudes registradas para la aplicación</span>
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                                                <th data-formatter="estadoFlujoFormatter" data-field="Situación de registro" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Estado de atención</th>
                                                @*<th data-field="nameDetail" data-halign="center" data-valign="middle" data-align="center">Responsable</th>*@
                                                <th data-field="typeRegisterDetail2" data-halign="center" data-valign="middle" data-align="center">Rol asignado</th>
                                                <th data-field="estadoModificacion" data-halign="center" data-valign="middle" data-align="center">Situación de <br /> la solicitud</th>
                                                <th data-field="dateApprovedStr" data-halign="center" data-valign="middle" data-align="center">Fecha de Aprobación</th>
                                                <th data-field="comments" data-halign="center" data-valign="middle" data-align="center">Comentarios</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const JEFE_DE_EQUIPO = 2;
    const OWNER = 4;
    const TTL = 1;
    const TL = 7;
    const GOBIERNO_USER_IT = 10;
    const ARQUITECTO_EVALUADOR = 11;
    const ARQUITECTO_TI = 12;
    const DEVSECOPS = 13;
    const AIO = 15;
    const ARQUITECTO_SOLUCION = 17;

    var nombre_app = '@nombreApp';
    var PAGINA_ACTUAL = @paginaActual;
    var PAGINA_TAMANIO = @paginaTamanio;

    var GESTIONADO = @gestionado;
    var ESTADO_APP =  @estadoApp;
    var ESTADO_SOLICITUD = @estadoSolicitud;
    var FLUJO = @flujo;
    var ORDER_BY = '@orderBy';
    var ORDER_DIRECTION = '@orderDirection';

    var FLUJO_REGISTRO = 1;
    var FLUJO_MODIFICACION = 2;
	var FLUJO_eliminacion = 3;

</script>
<script src="~/app/BandejaPortafolio/solicitudes.js?v=2.1.2"></script>
