@{
    ViewBag.Title1 = "Configuración de Relevancia";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Relevancia";
}

<div class="card">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <form action="javascript:void(0);">
                        <div class="form-group row">
                            <div class="col-md-10 col-xs-8 col-sm-9">
                                <div class="input-with-icon">
                                    <input id="txtFiltro" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="Nombre de la relevancia...">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <button id="btnBuscar" class="btn btn-primary btn-width-custom" onclick="RefrescarListado()">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="OpenModal()">
        <span class="icon icon-plus"></span>
        <span class="count-text">Nuevo</span>
    </a>
</div>

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>Registros de relevancias</strong>
            </div>
            <div class="card-body">
                <table id="tblRegistro" class="table" data-mobile-responsive="true" data-unique-id="Id">
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="30">#</th>
                            <th data-formatter="linkFormatter" data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-sort-name="Nombre">Nombre</th>
                            <th data-field="Peso" data-halign="center" data-valign="middle" data-align="left" data-sortable="true">Peso</th>
                            <th data-field="UsuarioCreacion" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="UsuarioCreacion">Creado por</th>
                            <th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="Activo">Estado</th>
                            <th data-formatter="opcionesFormatter" data-field="Id" data-halign="center" data-valign="middle" data-align="center">Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal Add or Edit (Relevancia)-->
<div id="MdAddOrEditModal" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleForm"></h4>
            </div>
            <div class="modal-body">
                <form id="formRegistro">
                    <input type="hidden" id="hdId" name="hdId" value="0" />
                    <input type="hidden" id="hdCodigoInterno" name="hdCodigoInterno" value="" />
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombre" class="form-control" type="text" name="txtNombre">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Peso: </label>
                        <input id="txtPeso" class="form-control" type="text" name="txtPeso">
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActivo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegistrar" class="btn btn-primary" onclick="RegistrarAddOrEdit()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Add or Edit (Relevancia)-->
<script src="~/app/relevancia.js?v=1.2.1"></script>