@{
    ViewBag.Title1 = "Unidad de Fondeo";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Unidad de Fondeo";
}


<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<style>
    .nombreDom {
        min-width: 180px;
    }

    .nombreTec {
        min-width: 280px;
    }

    .opcTecnologia {
        min-width: 150px;
    }

    .accesoDirecto {
        min-width: 200px;
    }

    .tecnologia-label {
        padding: 0px;
    }

    /*.input-with-icon-search {
         padding-left: 26px;
     }*/

    .tec {
        pointer-events: none;
        opacity: 0.3;
    }

    .tooltip {
        z-index: 2000 !important;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }

    .multiselect-native-select .btn-group {
        max-width: 100%;
    }

    .card-search .fieldset hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #ddd;
    }
</style>

<div class="view-listado">
    <div class="card">
        <div class="card-body">

            <div class="panel-heading panel-heading-nav">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#one" aria-controls="one" role="tab" data-toggle="tab">Mantenimiento de Unidad de Fondeo</a>
                    </li>
                    <li role="presentation">
                        <a href="#two" aria-controls="two" role="tab" data-toggle="tab">Asignación de Aplicaciones</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                        <div class="card-search">
                            <fieldset class="fieldset">
                                <legend class="legend">Filtro de búsqueda</legend>
                                <div class="card-search-box">
                                    <form action="javascript:void(0);">
                                        <div class="form-group row">
                                            <div class="col-md-8 col-xs-8 col-sm-9">
                                                <div class="input-with-icon">
                                                    <input id="txtBusTipoRela" class="form-control input-thick pill input-with-icon-search" type="text" maxlength="50" placeholder="Nombre de la unidad de fondeo..." onkeypress="return checkCaracteres(event)">
                                                    <span class="icon icon-search input-icon"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-4 col-sm-3">
                                                <button id="btnBusTipoRela" class="btn btn-primary btn-width-custom" onclick="Buscar()">Buscar</button>
                                            </div>
                                            <div class="col-md-2 col-xd-4 col-sm-3">
                                                <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="AddTipoRelacion()">
                                                    <span class="icon icon-plus"></span>
                                                    <span class="count-text">Nuevo</span>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </fieldset>
                        </div>
                        @*<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                            
                        </div>*@
                        <div class="row gutter-xs">
                            <div class="col-xs-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
                                                    <div class="col-xs-9 col-md-9 text-left">
                                                        <h4 id="tituloResultado" name="tituloResultado"></h4>
                                                    </div>

                                                </div>
                                                <div class="col-md-8" style="margin-bottom: 15px; margin-top: 15px;">
                                                    <table id="tblTiposRelacion" class="table table-striped table-nowrap dataTable" data-mobile-responsive="true">
                                                        <thead>
                                                            <tr>
                                                                <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="5%">#</th>
                                                                @* <th data-field="TipoRelacionId" data-halign="center" data-valign="middle" data-width="10%" data-align="left" data-sortable="true" data-sort-name="Id">Código</th>*@
                                                                <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="center">Nombre</th>
                                                                <th data-field="FechaModificacionStr" data-halign="center" data-valign="middle" data-align="center">Fecha de ultima actualización</th>
                                                                <th data-formatter="opcionesActivo" data-field="FlagActivo" data-halign="center" data-valign="middle" data-align="center" data-width="10%">Activo</th>
                                                                <th data-formatter="opciones" data-field="Opciones" data-halign="center" data-width="10%" data-valign="middle" data-align="center">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="two">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-search">
                                    <fieldset class="fieldset">
                                        <legend class="legend">Filtro de búsqueda</legend>
                                        <form id="formFiltros">
                                            <div class="card-search-box">
                                                <div class="row gutter-xs">
                                                    <div class="col-xs-3 col-md-3">
                                                        <div class="text-left ui-widget containerJefeEquipo" data-toggle="match-height">
                                                            <h5>Segundo Nivel: </h5>
                                                            <select id="cbSegundoNivel" name="cbSegundoNivel" class="form-control"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3 col-md-3">
                                                        <div class="text-left ui-widget containerOwner" data-toggle="match-height">
                                                            <h5>&nbsp;</h5>
                                                            <button id="btnBuscar" type="button" class="btn btn-primary btn-width-custom" onclick="listarRegistros()">Buscar</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3 col-md-3">
                                                        <div class="text-left ui-widget containerGestionado" data-toggle="match-height">
                                                            <h5>Unidad de Fondeo:</h5>
                                                            <select id="cbUnidadFondeo" name="cbUnidadFondeo" class="form-control"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3 col-md-3">
                                                        <div class="text-left ui-widget containerAplicacion" data-toggle="match-height">
                                                            <h5>&nbsp;</h5>
                                                            <button id="btnConfirmar" type="button" class="btn btn-primary btn-width-custom" onclick="Confirmacion()">Asignar</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row gutter-xs">
                            <div class="col-xs-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Aplicaciones  </strong>
                                    </div>
                                    <div class="card-body">
                                        <div id="table-listing">
                                            <div class="table-scrollable">
                                                <table id="tblRegistro" data-count-fixed-columns="4" cellpadding="0" cellspacing="0" class="table" data-show-columns="true" data-detail-view="false" data-detail-formatter="detailFormatter" style="font-size:11px !important;">
                                                    <thead>
                                                        <tr>
                                                            <th data-field="CodigoApt" data-halign="center" data-valign="middle" data-align="left" data-width="50" data-sortable="true" data-sort-name="CodigoApt">Código de <br />aplicación</th>
                                                            <th data-field="Aplicacion" data-halign="center" data-valign="middle" data-align="left" data-width="200" data-sortable="true" data-sort-name="Aplicacion">Aplicación</th>
                                                            <th data-field="EstadoAplicacion" data-halign="center" data-valign="middle" data-align="left" data-width="100" data-sortable="true" data-sort-name="EstadoAplicacion">Estado</th>
                                                            <th data-field="TipoActivoInformacion" data-halign="center" data-valign="middle" data-align="left" data-width="100" data-sortable="true" data-sort-name="EstadoAplicacion">Tipo de activo</th>
                                                            <th data-field="GestionadoPor" data-halign="center" data-valign="middle" data-align="left" data-width="100" data-sortable="true" data-sort-name="GestionadoPor">Soportado por/Tribu</th>
                                                            <th data-field="GerenciaCentral" data-halign="center" data-valign="middle" data-align="left" data-width="200" data-sortable="true" data-sort-name="GerenciaCentral">Gerencia central</th>
                                                            <th data-field="Division" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Division">División</th>
                                                            <th data-field="Area" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Area">Área</th>
                                                            <th data-field="Unidad" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Unidad">Unidad</th>
                                                            <th data-field="TribeTechnicalLead" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="TribeTechnicalLead">TTL</th>
                                                            <th data-field="Owner_LiderUsuario_ProductOwner" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Owner_LiderUsuario_ProductOwner">Líder usuario</th>
                                                            <th data-field="ExpertoEspecialista" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="ExpertoEspecialista">Experto / Especialista</th>
                                                            @*<th data-field="Gestor" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Gestor">Gestor / Usuario autorizador</th>
                                                                <th data-field="BrokerSistemas" data-halign="center" data-valign="middle" data-align="center" data-width="200" data-sortable="true" data-sort-name="Broker">Broker</th>
                                                                <th data-field="RoadMap" data-halign="center" data-valign="middle" data-align="center" data-width="80" data-sortable="true" data-sort-name="RoadMap">Clasificación técnica</th>
                                                                <th data-field="TotalServidores" data-halign="center" data-valign="middle" data-align="center" data-width="100" data-sortable="true" data-sort-name="TotalServidores">Total de <br />servidores <br />relacionados</th>
                                                                <th data-field="TotalTecnologias" data-halign="center" data-valign="middle" data-align="center" data-width="100" data-sortable="true" data-sort-name="TotalTecnologias">Total de <br />tecnologías</th>
                                                                <th data-field="IndiceObsolescencia_FLooking" data-formatter="porcentajeFormatter" data-halign="center" data-valign="middle" data-align="center" data-width="100" data-sortable="true" data-sort-name="IndiceObsolescencia_FLooking">KPI Obsolescencia<br />Forward Looking (%)</th>
                                                                <th data-field="IndiceObsolescencia" data-formatter="porcentajeFormatter" data-halign="center" data-valign="middle" data-align="center" data-width="100" data-sortable="true" data-sort-name="IndiceObsolescencia">KPI Obsolescencia (%)</th>*@
                                                            <th data-field="UnidadFondeo" data-halign="center" data-valign="middle" data-align="left" data-width="100" data-sortable="true" data-sort-name="UnidadFondeo">Unidad de Fondeo</th>

                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="hdFiltro" id="hdFiltro" value="" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--Modal Add or Edit (Tipo de Relación)-->
<div id="MdAddOrEditTipoRela" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormTipoRela"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditTipoRela">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNombreTipoRela" class="form-control" type="text" name="txtNombreTipoRela" maxlength="50" onkeypress="return checkCaracteres(event)">
                        <input type="hidden" name="hdUnidadFondeoId" id="hdUnidadFondeoId" value="0" />
                        <input type="hidden" name="hdBloquearDefault" id="hdBloquearDefault" value="0" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActTipoRela">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegTipoRela" class="btn btn-primary" onclick="guardarAddOrEditTipoRela()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Add or Edit (Unidad de Fondeo)-->

<div id="mdConfirmar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:4%;">
                <h5 class="modal-title col-md-11 col-xs-11" id="title_modal">Mensaje de advertencia - Asignación de unidad de fondeo</h5>
                <button type="button" class="close col-md-1 col-xs-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Estas por asignar la unidad de fondeo <strong><span id="textUdF"></span></strong>
                    <br /> <br />
                    Este cambio afectara a todas las aplicaciones que tengan como segundo nivel a <strong><span id="txtSegundoNivel"></span></strong>.
                    <br /> <br />
                    
                </p>
            </div>
            <div class="modal-footer" id="mdMessageFot">
                <button id="btnContinuarR" class="btn btn-primary" type="button" data-loading-text="Procesando..." onclick="asigarUdF()">Continuar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/app/unidadFondeo.js?v=1.0.0"></script>