@{
    ViewBag.Title1 = "Visitas del Site";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Visitas del Site";
}

<div class="card">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <form action="javascript:void(0);">
                        <div class="form-group row gutter-xs">
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Usuario: </h5>
                                    <div class="input-with-icon">
                                        <input id="txtFilMatricula" name="txtFilMatricula" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="">
                                        <span class="icon icon-search input-icon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Nombre: </h5>
                                    <div class="input-with-icon">
                                        <input id="txtFilNombre" name="txtFilNombre" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="">
                                        <span class="icon icon-search input-icon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <h5>Fecha Desde: </h5>
                                <div class="input-group date" id="divFechaDesde">
                                    <input type="text" id="txtFilFechaDesde" name="txtFilFechaDesde" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon">
                                        <span class="icon icon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <h5>Fecha Hasta: </h5>
                                <div class="input-group date" id="divFechaHasta">
                                    <input type="text" id="txtFilFechaHasta" name="txtFilFechaHasta" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon">
                                        <span class="icon icon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row gutter-xs">
                            <div class="col-md-12">
                                <div class="text-right">
                                    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="RefrescarListado()">
                                        <span class="count-text">Buscar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
    <a class="btn btn-primary btn-width-custom" href="javascript: void(0)" onclick="ExportarInfo()">
        <span class="icon icon-external-link"></span>
        <span class="count-text">Exportar</span>
    </a>
</div>

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>Registros de vistas al site</strong>
            </div>
            <div class="card-body">
                <table id="tbl-tipos" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="WorkerId" data-mobile-responsive="true">
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                            <th data-field="Matricula" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="Matricula">Usuario</th>
                            <th data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="Nombre">Nombre</th>
                            <th data-field="UrlSite" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="UrlSite">Url visitada</th>
                            <th data-field="FechaCreacionStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="FechaCreacion">Fecha Ingreso</th>
                            @*<th data-field="ActivoDetalle" data-halign="center" data-valign="middle" data-align="center" data-sortable="true" data-sort-name="Activo" data-width="10%">Estado</th>
                            <th data-formatter="opciones" data-field="Opciones" data-halign="center" data-valign="middle" data-align="center" data-width="5%">Opciones</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    @*<input type="hidden" name="hFilTipo" id="hFilTipo" value="" />*@
</div>

<!--Modal Add or Edit (Tipo)-->
<div id="MdAddOrEditTipo" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="titleFormTipo"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEditTipo">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <input id="txtNomTipo" class="form-control" type="text" name="txtNomTipo" maxlength="120">
                        <input type="hidden" name="hIdTipo" id="hIdTipo" value="0" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripción: </label>
                        <textarea id="txtDesTipo" class="form-control" rows="3" name="txtDesTipo" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            ¿Es el estado principal?
                        </label>
                        <div class="input-group" id="divFlagStandar">
                        </div>
                        <input type="text" id="msjFlagEstandar" name="msjFlagEstandar" class="form-control clActivo" style="display:none;" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            ¿Activo?
                        </label>
                        <div class="input-group" id="divActivo">
                        </div>
                        <input type="hidden" name="hdNumTecAsoc" id="hdNumTecAsoc" value="0" />
                        <input type="text" id="msjActivo" name="msjActivo" class="form-control clActivo" style="display:none;" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnRegTipo" class="btn btn-primary" onclick="GuardarAddOrEditTipo()" type="button" data-loading-text="Procesando...">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Add or Edit (Tipo)-->

@*<script src="~/app/tipos.js"></script>*@


<script src="~/app/visitaSite.js"></script>
