@{
    ViewBag.Title1 = "Appliance y TSI";
    ViewBag.Title2 = "Configuración";
    ViewBag.Title3 = "Appliance y TSI";
}

<link href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

<style>
    .opcionesStyle {
        min-width: 120px;
    }
    /*.bg-orange {
        background-color: #FF851B !important;
    }*/
    .bg-rojo {
        background-color: #ffbdab !important;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: transparent;
    }

    .bloq-element {
        pointer-events: none;
        opacity: 0.3;
    }
</style>
<div class="card" style="margin-bottom:25px;">
    <div class="card-body">
        <div class="card-search">
            <fieldset class="fieldset">
                <legend class="legend">Filtro de búsqueda</legend>
                <div class="card-search-box">
                    <form action="javascript:void(0);">
                        <div class="row form-group">
                            <div class="col-md-10 col-xs-8 col-sm-9">
                                <div class="input-with-icon containerFiltro">
                                    <input id="txtBusEq" class="form-control input-thick pill input-with-icon-search" type="text" placeholder="Búsqueda por nombre de la tecnología">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-4 col-sm-3">
                                <button id="btnBusEq" class="btn btn-primary btn-width-custom" onclick="buscarEquipo()">Buscar</button>
                            </div>
                        </div>
                        <div class="row gutter-xs form-group">
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Tipo equipo: </h5>
                                    <select id="cbFilTipoEq" name="cbFilTipoEq" class="form-control"></select>
                                </div>
                            </div>                            
                            <div class="col-xs-3 col-md-3">
                                <div class="text-left" data-toggle="match-height">
                                    <h5>Estado: </h5>
                                    <select id="ddlEstado" name="ddlEstado" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="panel panel-body text-right" style="background-color: transparent;" data-toggle="match-height">
    <div class="col-xs-12 col-md-12">        
        <a id="btnExportarInfo" class="btn btn-primary" href="javascript: void(0)">
            <span class="icon icon-external-link"></span>
            <span class="count-text">Exportar</span>
        </a>
    </div>
</div>

<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>Registros de los equipos</strong>
            </div>
            <div class="card-body">
                <table id="tblEquipo" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%" data-unique-id="Id" data-mobile-responsive="true" data-detail-view="false" data-detail-formatter="detailFormatter" data-row-style="rowStyle" style="font-size: 11px !important;">
                    <thead>
                        <tr>
                            <th data-formatter="rowNumFormatterServer" data-valign="middle" data-align="center" data-width="2%">#</th>
                            <th data-formatter="linkFormatter" data-field="Nombre" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%">Equipo</th>
                            <th data-field="EquipoSoftwareBase.Tecnologia" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.Tecnologia">Tecnología</th>
                            <th data-field="EquipoSoftwareBase.TipoActivoStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.TipoActivo">Tipo activo</th>
                            <th data-field="EquipoSoftwareBase.IP" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.IP">IP</th>
                            <th data-field="EquipoSoftwareBase.SedeStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.Sede">Sede</th>
                            <th data-field="EquipoSoftwareBase.Hostname" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.Hostname">Hostname</th>
                            <th data-field="EquipoSoftwareBase.DimensionStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.Dimension">Dimension</th>
                            <th data-field="EquipoSoftwareBase.VencimientoLicenciaStr" data-halign="center" data-valign="middle" data-align="left" data-sortable="true" data-width="20%" data-sort-name="EquipoSoftwareBase.VencimientoLicenciaStr">Vencimiento de licencias</th>
                            <th data-formatter="estadoActualFormatter" data-field="EstadoActual" data-halign="center" data-valign="middle" data-align="center" data-width="100">Indicador <br/>actual</th>
                            <th data-formatter="indicadorUnoFormatter" data-field="EstadoIndicador1" data-halign="center" data-valign="middle" data-align="center" data-width="100">Indicador <br/>12 meses</th>
                            <th data-formatter="indicadorDosFormatter" data-field="EstadoIndicador2" data-halign="center" data-valign="middle" data-align="center" data-width="100">Indicador <br/>24 meses</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal Modulo-->
<div id="MdAddOrEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleForm"></h4>
            </div>
            <div class="modal-body">
                <form id="formAddOrEdit">
                    <ul id="tabModulo" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tabm1" aria-controls="tabm1" role="tab" data-toggle="tab">
                                <strong>Generales</strong>
                            </a>
                        </li>
                        <li role="presentation" class="parametro-view">
                            <a href="#tabm3" aria-controls="tabm3" role="tab" data-toggle="tab">
                                <strong>Vigencia y licencia</strong>
                            </a>
                        </li>
                        <li role="presentation" class="parametro-view">
                            <a href="#tabm4" aria-controls="tabm4" role="tab" data-toggle="tab">
                                <strong>Inventario</strong>
                            </a>
                        </li>
                        <li role="presentation" class="parametro-view">
                            <a href="#tabm5" aria-controls="tabm5" role="tab" data-toggle="tab">
                                <strong>Configuración</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tabm1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row" style="margin-top:10px;"></div>
                                                <div class="row onlyAdd">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Nombre
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtNomEquipo" class="form-control onlyAdd" type="text" name="txtNomEquipo" maxlength="120">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Tipo equipo
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="cbTipoEquipo" class="form-control onlyAdd" name="cbTipoEquipo"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Tecnología
                                                        </div>
                                                        <div class="col-md-7">
                                                            <textarea class="form-control" rows="4" id="txtTecnologiaEquipo" name="txtTecnologiaEquipo" maxlength="200"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Versión
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtVersion" class="form-control" type="text" name="txtVersion">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Vendor(Fabricante)
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtVendor" class="form-control" type="text" name="txtVendor">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Modelo
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtModelo" class="form-control" type="text" name="txtModelo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Estado appliance
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlEstadoAppliance" class="form-control" name="ddlEstadoAppliance"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Dimensión
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlDimension" class="form-control" name="ddlDimension"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Hostname
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtHostname" class="form-control" type="text" name="txtHostname">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Arquitecto de seguridad
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="ddlArquitectoSeguridad" class="form-control" name="ddlArquitectoSeguridad" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Tipo activo
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlTipoActivo" class="form-control" name="ddlTipoActivo"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Soporte primer nivel
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="ddlSoportePrimerNivel" class="form-control" name="ddlSoportePrimerNivel" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row divUrl" style="display:none;">
                                                    <div class="col-md-12">
                                                        <input id="txtUrlNube" class="form-control" type="text" name="txtUrlNube" placeholder="Ingrese la url">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Equipo
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtEquipoDetalle" class="form-control" type="text" name="txtEquipoDetalle">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Proveedor
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="ddlProveedor" class="form-control" name="ddlProveedor" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Serial
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtSerial" class="form-control" type="text" name="txtSerial">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            IP
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtIP" class="form-control" type="text" name="txtIP">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            ¿Se excluye de los cálculos?
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="input-group" id="divFlagExCal"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Criticidad
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlCriticidad" class="form-control" name="ddlCriticidad"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row divExclusion">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Tipo de exclusión
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="cbTipoExclusion" class="form-control" name="cbTipoExclusion"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Motivo de exclusión
                                                        </div>
                                                        <div class="col-md-7">
                                                            <textarea id="txtMotivoExclusion" name="txtMotivoExclusion" rows="4" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabm3">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="form-group">
                                            <div class="row" style="margin-top:10px;"></div>                                           
                                            <div class="row parametro-view">
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Comentarios asociados a la fecha fin
                                                    </div>
                                                    <div class="col-md-7">
                                                        <textarea id="txtComentarios" class="form-control parametro-view" rows="4" name="txtComentarios" maxlength="400"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Fecha para cálculos
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select id="ddlFechaCalculo" name="ddlFechaCalculo" class="form-control parametro-view">
                                                            <option value="3" selected="selected">Vencimiento de licencias</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Fecha de adquisición
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group date" id="dpFechaAdquisicion-btn">
                                                            <input type="text" id="dpFechaAdquisicion" name="dpFechaAdquisicion" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="icon icon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Fecha de implementación
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group date" id="dpFechaImplementacion-btn">
                                                            <input type="text" id="dpFechaImplementacion" name="dpFechaImplementacion" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="icon icon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Fecha de última renovación
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group date" id="dpFechaFechaRenovacion-btn">
                                                            <input type="text" id="dpFechaRenovacion" name="dpFechaRenovacion" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="icon icon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Vencimiento de licencias
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group date" id="dpVencimientoLicencia-btn">
                                                            <input type="text" id="dpVencimientoLicencia" name="dpVencimientoLicencia" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="icon icon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">                                                
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Forma de licenciamiento
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input id="txtFormaLicenciamiento" class="form-control" type="text" name="txtFormaLicenciamiento">
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="row divFechaFabrica">
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        Fecha fin de soporte de fábrica
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group date" id="dpFechaSoporteFabrica-btn">
                                                            <input type="text" id="dpFechaSoporteFabrica" name="dpFechaSoporteFabrica" class="form-control divFechaFabrica" />
                                                            <span class="input-group-addon">
                                                                <span class="icon icon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        ¿Incluir fecha de fin de fábrica?
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="input-group" id="divFlagFinSoporteFabrica"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabm4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row" style="margin-top:10px;"></div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Código de inventario
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtCodigoInventario" class="form-control" type="text" name="txtCodigoInventario">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Gestionado por CyberSOC
                                                        </div>
                                                        <div class="col-md-7">                                                            
                                                            <select id="txtCyberSOC" class="form-control" name="txtCyberSOC"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Sede
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlSede" class="form-control" name="ddlSede"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Sala
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtSala" class="form-control" type="text" name="txtSala">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            RACK
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtRack" class="form-control" type="text" name="txtRack">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Ubicación
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtUbicacion" class="form-control" type="text" name="txtUbicacion">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabm5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row" style="margin-top:10px;"></div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Dominio de red
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="cbDominioRed" class="form-control" name="cbDominioRed"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Ambiente
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="cbAmbiente" class="form-control" name="cbAmbiente"></select>
                                                        </div>
                                                        <input type="hidden" name="hdEquipoId" id="hdEquipoId" value="0" />
                                                        <input type="hidden" name="hdEquipoSoftwareBaseId" id="hdEquipoSoftwareBaseId" value="0" />
                                                        <input type="hidden" name="hdTipoEquipoId" id="hdTipoEquipoId" value="0" />
                                                        <input type="hidden" name="hdFlagDominioRed" id="hdFlagDominioRed" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Backup
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlBackup" class="form-control" name="ddlBackup"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Backup Frecuencia
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlBackupFrecuencia" class="form-control" name="ddlBackupFrecuencia"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Backup Descripción
                                                        </div>
                                                        <div class="col-md-7">
                                                            <textarea id="txtBackupDescripcion" class="form-control" rows="4" name="txtBackupDescripcion" maxlength="400"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Ventana de mantenimiento
                                                        </div>
                                                        <div class="col-md-7">
                                                            <textarea id="txtVentanaMantenimiento" class="form-control" rows="4" name="txtVentanaMantenimiento" maxlength="400"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Integración gestor de inteligencia
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlIntegracionGestor" class="form-control" name="ddlIntegracionGestor"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            CONA Básico
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlCona" class="form-control" name="ddlCona"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Conector SIEM
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtConectorSiem" class="form-control" type="text" name="txtConectorSiem">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Umbral CPU (%)
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtUmbralCpu" class="form-control" type="text" name="txtUmbralCpu">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Umbral Memoria (%)
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtUmbralMemoria" class="form-control" type="text" name="txtUmbralMemoria">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Umbral Disco (%)
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtUmbralDisco" class="form-control" type="text" name="txtUmbralDisco">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            Estado Integración SIEM
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlEstadoIntegracionSIEM" class="form-control" name="ddlEstadoIntegracionSIEM"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-5">
                                                            CONA Avanzado
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="ddlConaAvanzado" class="form-control" name="ddlConaAvanzado"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                @*<button id="btnRegEq" class="btn btn-primary" onclick="guardarAddOrEditEquipo()" type="button" data-loading-text="Procesando...">Registrar</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal Modulo-->


<script src="~/app/gestionEquipoFisico.js?v=1.3.3"></script>